[2020-01-30 23:38] brittyazel opened #3 "Dark mode toggle not persistent between sessions"
I'm not sure if this can be fixed in the context of this mod, but each time I restart RocketChat I have to re-enable night mode. I.e. the setting isn't being saved between sessions. Any ideas?

Also, have you considered upstreaming this feature? I'd love to see this in the core release

[2020-01-31 00:20] brittyazel commented on #3
Ok I fixed it, I needed to append this to the bottom of the javascript

[code]

[2020-01-31 16:13] pbaity commented on #3
@brittyazel I think https://github.com/pbaity/rocketchat-dark-mode/pull/4 closes this, but reopen if you need to!

[2020-01-31 16:13] #3 closed

[2020-02-11 05:33] ankar84 opened #8 "Room info not contrast"
**Room info** not contrast
![image](https://user-images.githubusercontent.com/4023037/74213171-1abd0280-4ca9-11ea-90b9-6334d609394f.png)
**Notifications Preferences** too
![image](https://user-images.githubusercontent.com/4023037/74216755-6fb34580-4cb6-11ea-8594-b114849722c2.png)

[2020-02-11 16:17] pbaity commented on #8
@ankar84 Thanks for pointing this out. I'll work on this when I can unless you or someone else picks it up, but just to make sure I don't miss anything, please describe what exactly you see that needs to be fixed in the Room Info and Notification Preferences. See the bug report issue template for the types of details we're looking for.

[2020-02-12 04:25] ankar84 commented on #8
Hi!
I understand.
I'm not a developer or CSS master, so now I can only get div classes with contrast problems:
rc-switch-double
rc-switch-double__label disabled
rc-switch-double__description
rc-switch-double__label
rc-switch-double__description

[2020-02-19 04:01] ankar84 opened #10 "Invite Users text contrast issue"
Invite users text not contrast
![image](https://user-images.githubusercontent.com/4023037/74800259-fd5ce980-52e3-11ea-8b45-29d5e66bbca1.png)

I have a fix for that

[2020-02-19 19:33] #8 closed

[2020-02-20 07:21] jseong309 opened #13 "Can I change the color of the left pane to dark?"
I wanted to see if there is a way I can change the panel that shows the channels and direct messages to be the same color as the conversation background?
By the way, thank you for this. LOVE that the user now has the option to switch between the dark mode and regular.
<img width="881" alt="RC Dark Theme" src="https://user-images.githubusercontent.com/39973530/74909989-4f4a5180-536e-11ea-8cdc-e205e

[2020-02-20 11:31] ankar84 commented on #13
Hi, @jseong309
Did you [properly installed](https://github.com/pbaity/rocketchat-dark-mode#installation) Dark mode?
In my case I see this:
![image](https://user-images.githubusercontent.com/4023037/74929973-ae02e000-53ed-11ea-8617-a1bb55211d16.png)

[2020-02-20 14:23] pbaity commented on #13
@jseong309 Like @ankar84 mentioned, make sure you've got the dark mode installed properly first. Also make sure you restart Rocket.Chat to see the changes. If you've done that, let me know what version of Rocket.Chat you're using (you can find this by going to **About Rocket.Chat** in the menu) and whether you're using the desktop app or the browser.

[2020-02-20 14:24] #10 closed

[2020-02-20 15:34] jseong309 commented on #13
I am pretty sure I installed this correctly.
1. Copy and Paste CSS file in Custom CSS. (Also, tried to reset, save, then pasted css file, save)
2. Copy and Paste JS file in Custom Script for Logged In Users. (Also, tried to reset, save, then pasted js file, save)

Is there another step I am missing?

Still same result on Windows(2.17.7) and Web browser.

Ubuntu 16
Apache
Snap Install 2.4.9
<img wi

[2020-02-21 05:24] ankar84 opened #14 "Multiple Dark mode icons appears"
**Describe the bug**
Multiple Dark mode icons appears

**To Reproduce**
Steps to reproduce the behavior:
I know for sure when you **edit dark-mode-toggle.js** in **Custom Scripts > Custom Script for Logged In Users** this happens.
But now I didn't edit anything, but have a lot of icons
**CTRL+R** in desktop client or **F5** in browser version fix the problem for a time

**Expected behavior**
**Onl

[2020-02-21 05:30] ankar84 commented on #13
@jseong309 as you can see left pane in Administration area has a proper color.

[2020-02-21 06:23] jseong309 commented on #13
So I figured it out. One of the lines I changed from color-gray-lightest to color-dark-medium.
And that fixed it. =)

<img width="451" alt="RC CSS Darktheme" src="https://user-images.githubusercontent.com/39973530/75009340-48374800-542f-11ea-87b3-b8ebf9850db5.png">
<img width="591" alt="RC Dark working" src="https://user-images.githubusercontent.com/39973530/75009445-8f253d80-542f-11ea-8a27-29c0c5

[2020-02-21 12:33] ankar84 opened #15 "Show more button contrast issue"
**Describe the bug**
Show more button contrast issue

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Members List of channel with more that 100 users
2. Scroll down to 100 user
4. See no contrast button show more

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/4023037/75034968-6e0

[2020-02-21 14:00] pbaity commented on #13
@jseong309 `--rc-color-primary` and `--rc-color-primary-lightest` were set to those values when I forked this project, so I'll have to see where they're used to see if they ought to be changed.

I suspect maybe this is an issue with Rocket.Chat 2.17.7, since I'm not seeing the problem on 2.16.0, but I noticed the `<aside>` with class `sidebar` has a background color set to `--sidebar-background`.

[2020-02-21 15:09] pbaity commented on #14
@ankar84 Around [line 48 in dark-mode-toggle.js](https://github.com/pbaity/rocketchat-dark-mode/blob/master/dark-mode-toggle.js#L48), the script is supposed to detect if the dark mode button is already visible and stop if it is:
[code]
My guess is that the button isn't getting counted as visible for one reason or another.

[2020-02-25 08:58] ankar84 commented on #14
Could it be if I changed (translated to Russian) two lines:
https://github.com/pbaity/rocketchat-dark-mode/blob/master/dark-mode-toggle.js#L17
https://github.com/pbaity/rocketchat-dark-mode/blob/master/dark-mode-toggle.js#L46

I changed **Toggle Dark Mode** to **Смена оформления**

[2020-02-25 18:59] pbaity commented on #14
@ankar84 I tried changing the label text to **Смена оформления** on my instance and it didn't cause any issues for me. Even when I edit the script in the Admin panel, I can't reproduce (using Mac) on Chrome, Firefox, or desktop app. I'm thinking a possible solution may be to write some code in the script that finds and removes the button if it exists before adding it.

As an aside, take a look at

[2020-02-27 02:21] pbaity commented on #13
@jseong309 I've opened PR https://github.com/pbaity/rocketchat-dark-mode/pull/20 to fix this and other issues. Give the code in that PR a try and let me know if it fixes it for you!

[2020-02-27 08:02] jseong309 commented on #13
@pbaity That fixed the issue! Only thing is when I hover over the dark/light mode icon it says undefined. But I do like that the fonts are more visible on the lighter backgrounds.

[2020-02-28 03:20] pbaity commented on #13
@jseong309 If you could, open your console in Rocket.Chat and run `defaultUserLanguage()` and tell me what it returns. I'll make sure to fix that so it won't say undefined. Also, let me know what the label should say in your user language!

[2020-02-29 02:35] #13 closed

[2020-02-29 02:35] #15 closed

[2020-03-01 01:07] 4g7jegc opened #21 "Improve Login Page When In Dark Mode"
**Describe the bug**
The login page doesn't look right when in dark mode. It looks fine in light mode. Forgot your password and Register a new account links are black text on dark gray background and barely visible. The login box is very dark gray on a bright gray almost white background. I think login page is missing css styles completely for dark mode.

**To Reproduce**
Steps to reproduce the be

[2020-03-02 02:05] pbaity commented on #21
@4g7jegc Thanks for catching this! Take a look at PR https://github.com/pbaity/rocketchat-dark-mode/pull/22 and try it out. Let me know if this fixes.

[2020-03-03 07:38] ankar84 opened #23 "input contrast problems"
**Describe the bug**
I see some contrast issues after we updated our server to version 3.0.2

**To Reproduce**
Steps to reproduce the behavior:
1. Open channels **Member List**
2. Click **Add users** button
3. Start input in **Invite Users** field
4. See contrast error on input test

**Expected behavior**
Text must be white

**Screenshots**
![image](https://user-images.githubusercontent.com/402303

[2020-03-03 07:39] ankar84 commented on #23
[code]
fixed that issue
![image](https://user-images.githubusercontent.com/4023037/75753183-44fb6080-5d3b-11ea-923d-675918e7f3af.png)

[2020-03-04 06:33] ankar84 commented on #23
It was fixed by #11, but bug still in code. I don't know why.

[2020-03-05 01:51] #21 closed

[2020-03-05 01:52] pbaity commented on #21
@4g7jegc Closed by merging PR #22 . If this doesn't solve the problem, just reopen this issue.

[2020-03-05 14:36] pbaity commented on #23
I just noticed there's this rule in the default style:
[code]
That `color` is the issue. In our stylesheet we've got this rule to overwrite the dark color:
[code]
So I think we just need to update to:
[code]

[2020-03-06 04:38] ankar84 commented on #14
After #19 I did not see multiple icons anymore.
I don't if it helped or something else, but result is good.

[2020-03-06 04:38] #14 closed

[2020-03-06 04:41] ankar84 commented on #23
@pbaity thanks a lot!
I checked that fix and it solved issue for me, so your PR and merge will be great!

[2020-03-07 02:59] #23 closed

[2020-03-17 20:14] nunoguerreiro opened #26 "Dark mode icon is not being displayed in last R.chat versions"
Dark mode icon is not being displayed in last R.chat versions

[2020-03-17 20:18] nunoguerreiro commented on #26
solved...

[2020-03-17 20:23] pbaity commented on #26
@nunoguerreiro Is this something you can open a PR for?

[2020-03-23 21:00] danger89 opened #27 "Merge into rocketchat?"
Any idea to make this fanatic feature upstream available within rocket chat by default?

That would be really nice. Please, consider doing/trying so.

Regards,
Melroy

[2020-03-24 00:25] pbaity commented on #27
Hi and welcome Melroy! Happy to hear you find this project worthwhile enough to want to see it sent upstream. So do I. That being said, there are two big things stopping me from pushing this upstream as-is:

1. A lot of people want more than just dark mode; they want customizable themes. See the two years worth of comments [on this PR](https://github.com/RocketChat/Rocket.Chat/pull/11071) and [thi

[2020-03-24 00:54] danger89 commented on #27
Thanks for your fast reply.

To be honest I only see this project regarding React Native, but this is only the Android/iOS App AFAIK.

See:
https://github.com/RocketChat/Rocket.Chat.ReactNative

I think in the meanwhile we can use this solution. And later we can always extend it/replace it.

[2020-04-15 17:05] #26 closed

[2020-04-17 09:25] ankar84 opened #29 "Poll App not compatible to Dark theme"
**Describe the bug**
There is a poll app https://github.com/sampaiodiego/rocket.chat.app-poll
And create a poll in Dark mode looks not so good

**To Reproduce**
Steps to reproduce the behavior:
1. Install https://github.com/sampaiodiego/rocket.chat.app-poll
2. Create vote

**Expected behavior**
All respect Dark mode

**Screenshots**
![image](https://user-images.githubusercontent.com/4023037/795540

[2020-04-19 15:24] brittyazel commented on #27
Yeah after talking with the RocketChat devs I'm not sure if they plan on moving the web client to React. They seemed to indicate that the Meteor version that we have is for the long term

[2020-04-27 19:21] pbaity commented on #29
@ankar84 I think #30 may have fixed this issue. Can you confirm?

[2020-04-28 10:34] ankar84 commented on #29
Hi, @pbaity
Definitely fixed!
![image](https://user-images.githubusercontent.com/4023037/80477611-e75b4d00-8954-11ea-939e-4b3ddcdd607b.png)
Thanks!

[2020-04-28 10:34] #29 closed

[2020-04-28 12:00] ankar84 opened #32 "Directory search field bug"
Version of RC 3.1.1
Directory search field text not contrast
![image](https://user-images.githubusercontent.com/4023037/80484764-efb98500-8960-11ea-996b-ac04fed42960.png)

Here is **test** search query
![image](https://user-images.githubusercontent.com/4023037/80484808-01029180-8961-11ea-8755-d086a436cbbb.png)

[2020-04-29 06:58] ankar84 commented on #32
**color: var(--color-dark);** in
body.dark-mode .rcx-box * .rcx-input-box,
body.dark-mode .rcx-box * .rcx-select {
	**color: var(--color-dark);**
	background-color: var(--message-box-background);
}
fixed issue
![image](https://user-images.githubusercontent.com/4023037/80568561-ec290b00-89ff-11ea-8a68-27a817e5d3dc.png)

[2020-04-29 17:19] pbaity opened #33 "Add translations for dark mode toggle button tooltip"
The tooltip for the dark mode toggle button is only in English and Russian. In any other language setting it stays in English.

It'd be great for users who are native speakers of the other languages offered in RocketChat to add translations to the tooltip to [dark-mode-toggle.js](https://github.com/pbaity/rocketchat-dark-mode/blob/master/dark-mode-toggle.js#L18). We need translations for:

- [ ] G

[2020-04-29 21:05] henryfok commented on #32
[code]
This makes all alot of the text on the directory page hard to read
![image](https://user-images.githubusercontent.com/9781557/80646929-7bdfb100-8a22-11ea-890b-b9ea406694d6.png)

[2020-04-30 02:05] ankar84 commented on #32
You right! Need more correct solution.

[2020-05-03 09:46] user88578 opened #35 "Register Account and Reset Password buttons hidden when on login page (perhaps due to dark mode default being set)"
**Describe the bug**
On the initial splash page/login page of rocketchat the Register and Reset password buttons are completely hidden.

The buttons are still there and clickable but hidden as white on white.

**To Reproduce**
Steps to reproduce the behavior:
Installed the theme as advised on your readme and set (though don't know if this is the root cause, that is the only thing I changed):

`con

[2020-05-04 20:33] rodrigok commented on #27
Hi, Rocket.Chat's CTO here.

We are currently migrating to React using our new UI components library called [Fuselage](https://github.com/RocketChat/Rocket.Chat.Fuselage). Our design team is working right now on a Dark Theme for those components and some changes on Mobile Themes to sync colors with what we are doing for the web.

I'll ask the Design Team to share our ideas here as well, but the im

[2020-05-04 23:27] pbaity commented on #35
Thanks for reporting this @user88578 - I'm one of those people who can't reproduce the issue, or else I hopefully would've noticed this earlier. Applying dark mode to the login screen was requested in https://github.com/pbaity/rocketchat-dark-mode/pull/21 and I implemented in https://github.com/pbaity/rocketchat-dark-mode/pull/22, but what do you think of just reversing those changes and leaving t

[2020-05-04 23:42] pbaity commented on #27
@rodrigok Thanks for the update! Great to hear from you directly.

Is the migration to React being done in the open somewhere that contributions can be made? Are there other issues blocking the way to Dark Theme that anyone can pick up now?

If any of the Design Team is willing to share ideas here, that'd be great. This project has attracted quite a few really cool people who I know are willing an

[2020-05-05 05:55] user88578 commented on #35
Hi, thanks for the reply :)

Yes definitely I have no problem at all with no style on the login page. It is causing havok for new members joining and I have to explain the reason for this thing being invisible and carefully go through how to get them to click the invisible button. They are thinking they are banned or it is disabled etc. :)

Just want a functioning sign up page, style is irrelevant

[2020-05-05 12:36] rodrigok commented on #27
Sure, the design team will share something here soon.

Regarding the contributions, I'll call @ggazzo here, he is our Front End Lead and may have something to share as well.

Part of our admin area is already running on React, so you can check the Rocket.Chat repo and the Fuselage one.

[2020-05-05 14:24] pbaity commented on #35
@user88578 Try out the code in https://github.com/pbaity/rocketchat-dark-mode/pull/36 which contains all our updates but with login styles removed. Let me know if this fixes!

[2020-05-06 07:30] user88578 commented on #35
Yup, seems to work fine.

Thanks :).

[2020-05-06 16:20] #35 closed

[2020-05-07 16:44] engelgabriel commented on #27
Just a sneak peek of what we are working on:

![image](https://user-images.githubusercontent.com/1000217/81321200-a9eb7380-9068-11ea-9c5d-d930441ce28b.png)

![image](https://user-images.githubusercontent.com/1000217/81321252-bb348000-9068-11ea-81cd-7619d74b7fdb.png)

![image](https://user-images.githubusercontent.com/1000217/81321323-d0a9aa00-9068-11ea-96d3-f04d43c7229d.png)

[2020-05-07 17:59] ankar84 commented on #27
It looks really fantastic! 👍🏻
And I see channels avatar implemented. A lot of people including me waiting that feature.

[2020-05-09 20:35] hp734 opened #37 "Login Page Doesn't Display Correctly When Dark Mode Is Enabled"
Login Page Doesn't Display Correctly When Dark Mode Is Enabled

If you turn on dark mode before logging in, the colors for the login page are messed up and look bad. It looks fine after login. It also looks fine before login if you haven't yet enabled dark mode.

[2020-05-10 18:15] pbaity commented on #37
@hp734 I had tried in https://github.com/pbaity/rocketchat-dark-mode/pull/36 to remove styles for the login page, but it looks like there have to be rules in order to keep the login page clean. I opened https://github.com/pbaity/rocketchat-dark-mode/pull/38 to fix this, see what you think.

[2020-05-10 18:20] pbaity commented on #35
@user88578 Seems that removing styles for the login page isn't an option, since it shares some classes that are affected by dark mode. I fixed in #38 if you'd be willing to confirm that stills works for you - if not, just comment on the PR so I can fix.

[2020-05-11 11:59] rapliu commented on #33
Can I take part in Chinese translation? Although mine is not very good, because I know rocket very well, I know what Chinese users need

[2020-05-11 12:45] pbaity commented on #33
@rapliu Please do! The languages I listed above are the ones I found codes for in Rocket.Chat, but I'm sure that's not an exhaustive list. In [dark-mode-toggle.js](), in the `const darkModeToggleText` object, just add a line for Chinese.

Don't worry if it's not a perfect translation - if another Chinese-speaking user notices a problem with it, we can fix it then.

[2020-05-13 03:16] 238bfd3 commented on #37
Hey it looks great. I was the user above, but never remember my passwords to GitHub as I just make throwaway accounts using throwaway emails when I need to report a bug. Thanks for fixing. Please merge!!

[2020-05-13 16:15] pbaity commented on #37
@hp734 / @238bfd3 🤣  allow me to suggest another project I've worked on, [LessPass](https://github.com/lesspass/lesspass).

But I'll merge the PR now. Cheers!

[2020-05-13 16:16] #37 closed

[2020-07-08 17:01] nrenich opened #41 "Change mouse over background or text color from white."
This is just an observation and maybe there is an easy fix for this display change request. With Rocket Chat version 3.4.1 I have noticed that when you enable dark mode, any posts in a channel when you mouse over switches to a white background with white text making it unreadable.  Links are ok as they are blue.

Options to fix would be to either have a dark grey highlight on mouse over, or switch

[2020-07-09 05:39] VVvKamper commented on #41
you could add something like
[code]
to fix this. but maybe there is better option

[2020-07-09 05:57] VVvKamper commented on #41
better like this
[code]

[2020-07-10 00:06] nrenich commented on #41
This worked great! @VVvKamper Thank you very much.

[2020-07-12 22:46] bj47cf opened #42 "Needs Updated For v3.4.2"
The administration page doesn't display correctly in dark mode in version 3.4.2. Drop down boxes for settings are almost impossible to read with dark mode enabled. The left side menu is no longer dark when dark mode is enabled.

The new version of rocketchat highlights each line of text in the chat channels that the mouse cursor is over. This causes it to display as white background on white text

[2020-07-13 13:14] pbaity commented on #41
Thanks to both of you for calling attention to this and providing a fix. I'm using the snap install, which is still at 3.2.2, so I never would've known this was an issue! Would either of you want to open a PR to add this rule?

[2020-07-15 08:20] bmaxl commented on #41
Thank you for the mouseover workaround @VVvKamper. And thank you @pbaity for creating this dark mode CSS in the first place, the work you put into this is much appreciated!

Unfortunately RocketChat 3.4 (we currently run 3.4.1) broke the thread view as well: it has white background and bright grey text which is basically unreadable:
![image](https://user-images.githubusercontent.com/68322650/87521

[2020-07-16 12:10] araujorm commented on #42
Same here... for mouse-over the solution in https://github.com/pbaity/rocketchat-dark-mode/issues/41#issuecomment-655918851 seems to work (may need to clear cache aftewards), but the administration interface is impossible to use with dark mode (e.g. search text is invisible). Screenshot:
![Selection_20200716(004)](https://user-images.githubusercontent.com/13053489/87669196-75c9b880-c765-11ea-9cac-

[2020-07-16 12:29] pbaity commented on #42
Just as a heads-up, it may be a little bit before I can get to this myself. Even once I have time, I need to install a local test instance of Rocket.Chat _without_ using the snap in order to work on this, and then work through all of the CSS changes in the newer version.

I'm very happy to do this of course, but if anyone finds a fix for any of these problems, please open a PR. A PR doesn't need t

[2020-07-16 17:18] pbaity commented on #42
It was really bugging me that I was letting this issues sit, so I started looking into this now anyway...

It looks like this may be a lot tougher than I thought. I opened PR #43 to fix the color of hovered messages, but looking into fixing the threads and admin panel I found a crap ton of classes that all look like `rcx-@d174ks1`, `rcx-@82jf7sk`, etc. These are generated classes, and they're pret

[2020-07-16 18:25] #41 closed

[2020-07-16 18:45] araujorm commented on #42
I was trying to help debug this issue and applied the theme from the master repo, to my surprise everything worked... then I saw you had just committed fixes / approved PRs :)

Thanks, great work. You made 50 users happy ;)

[2020-07-23 00:33] pbaity commented on #33
@y377 Still interested in offering a Chinese translation?

[2020-07-31 01:17] pbaity commented on #42
Closing since I think the bulk of 3.4.2 issues are resolved. If anyone finds more, please open a separate issue.

[2020-07-31 01:17] #42 closed

[2020-08-05 06:00] fdellwing commented on #33
In German `Dark Mode umschalten` should be fine. We have not really a German term for dark mode.

[2020-08-05 16:34] pbaity commented on #33
Thanks @fdellwing , added in #45

[2020-08-06 22:18] adipose opened #46 "colors for presence are not distinguishable"
![image](https://user-images.githubusercontent.com/3324395/89588193-055c0780-d7f8-11ea-876b-c97cdbf9bc09.png)

These colors don't work--i can't tell who is logged on or off!

[2020-08-07 14:33] 6uhrmittag opened #48 "[DropDown List] - text not visible(fontcolor:black)"
**Describe the bug**
The text in drop-down lists is not readable, because the fontcolor is the same as the "dark" color

I did saw it on 2 occoccasions, _file-types_ and _member filter_.

**To Reproduce**
1. Enable Darkmode
2. Open Chat or Channel
3. Choose _files_ top right
4. Click on _file-types box_ all to choose between all/videos etc.

**Expected behavior**
The text should be readable -> fon

[2020-08-08 15:54] darkerrockets opened #49 "Terms of Service On Login Page"
The Terms of Service On Login Page doesn't display properly when the link is clicked while dark mode is enabled.

[2020-08-10 12:00] pbaity commented on #46
@adipose Heads up, I'm red-green colorblind, so forgive me if I say anything stupid 😅

But I don't seem to have the issue with the online color being too dark. Here's what it looks like for me:
![image](https://user-images.githubusercontent.com/39106297/89780358-4a758780-dadf-11ea-8b90-085b1aebecb5.png)

With the change you added in #47, it looks like this for me:
![image](https://user-images.gith

[2020-08-10 13:19] adipose commented on #46
I am also a bit colorblind. Is that screenshot from the contact list?

I am on 3.5.1 which may explain the difference.

[2020-08-10 15:36] iamjameswalters opened #50 "Dark Mode by Default Cookie Unset"
Typically, the dark mode cookie triggers the style by default, but this appears to have been reversed. Our server runs 3.4.2.

[2020-08-13 12:42] pbaity commented on #46
Hm, odd. Our snap just got updated to 3.5.1 and I still don't see the issue of them being too dark...it looks about the same as it did previously in 3.4.2. But frankly, I like the green color you provided better, and this is a subtle and precise change, so I'm going to merge your PR anyway. If anybody finds takes issue with it they can let me know.

[2020-08-13 12:43] #46 closed

[2020-08-13 13:43] adipose commented on #46
Thanks a lot for looking into this. I really don't know why it behaves this way for me. I have also overridden the busy color as it was also dark... I am assuming you don't see this issue on 3.5.1?

[2020-08-13 17:47] pbaity commented on #46
Here's what I see on 3.5.1 (without your code change):
<img width="61" alt="image" src="https://user-images.githubusercontent.com/39106297/90168686-74db7500-dd6b-11ea-99e4-ec465c34a3a9.png">
Any chance you've got a conflicting style you or someone else has added?

[2020-08-13 18:31] adipose commented on #46
This is embarrassing, but in my defense, it wasn't my fault.  I had reset all the custom "colors" I was using from an older theme.  When I just went back in, they were still set.  So I reset them again and saved them.  It still didn't work.  So I went to check again, and they were all there--again.  I did this about 10 times including restarting the server, clearing caches, etc.  Nothing worked.

[2020-08-13 18:54] pbaity commented on #46
No worries, just glad you figured it out! Cheers!

[2020-08-13 18:58] pbaity commented on #48
Unfortunately I don't have a Windows machine to troubleshoot this on. For me, on Mac and using 3.5.1 (now the latest snap) with the desktop app, Chrome, and FF, I see this:
<img width="362" alt="image" src="https://user-images.githubusercontent.com/39106297/90175229-1adfad00-dd75-11ea-9ec4-ca5316aba5e3.png">
Looks like it's up to our community to solve this one 🙂

[2020-08-13 19:05] adipose commented on #46
Thanks again, theme is great!

[2020-08-13 19:38] adipose opened #52 "Hover theme"
Can the hover menu on the messages be themed?

![image](https://user-images.githubusercontent.com/3324395/90179162-e44c6700-dd61-11ea-8a96-2a6df8fdfe15.png)

3.5.1 has this, not sure when it first showed up.

[2020-08-13 19:45] jasonsumner commented on #46
I pulled for the first time and had the same issue. Had issues with my github account, but I was going to post the same thing. There are some additional entries that can be made for the other status bubbles as well.

`    --status-away: #fcb316;
    --status-busy: #f04747;
    --status-invisible: #bbb;`

[2020-08-13 19:58] brunobertoldi commented on #48
Same here using Linux Desktop:

![image](https://user-images.githubusercontent.com/19298197/90179843-76fdfd80-dd84-11ea-9d7b-f5f333d0aff1.png)

More context: The refactored UIs are ok, e.g. Administration Panel and User Profile

[2020-08-13 20:00] pbaity commented on #48
When I've got the time I'll whip up a Linux VM and check it out, unless somebody beats me to it

[2020-08-13 20:06] UncleSamMericaMan commented on #48
Hey guys! Submitted a Pull that should resolve this issue!

[2020-08-13 21:13] adipose commented on #46
Turns out those are unnecessary if you have no conflicting theme stuff.  But it seems rocketchat is broken somehow (maybe because I have been upgrading from much older versions for some time), and you can't update or clear all of them from the interface.

[2020-08-14 02:03] pbaity commented on #52
I noticed this suddenly popped up today when our snap updated to 3.5.1. Try these colors and let me know what you think:

[code]

That first rule already exists so you will either need to throw that one in at the end to overrule or replace the rule. If people like these colors I'll open a PR for it.

[2020-08-14 12:22] pbaity commented on #50
I just checked the settings on the server we both use @iamjameswalters - I accidentally changed `darkModeDefault = false`, so that was the only issue. My bad!

[2020-08-14 12:22] #50 closed

[2020-08-14 12:41] #48 closed

[2020-08-14 20:41] adipose commented on #52
Looks great to me.  Thank you!

[2020-08-15 00:34] pbaity commented on #49
@darkerrockets Let me know what you think of #56

[2020-08-15 00:35] #52 closed

[2020-08-15 00:39] pbaity commented on #32
@ankar84 Is this still an issue? I don't see it in 3.5.1 on Mac:
<img width="249" alt="image" src="https://user-images.githubusercontent.com/39106297/90301458-f87d8a80-de6d-11ea-98af-076efe68cea1.png">
If not, let's close the issue since fewer and fewer people will be using these older versions.

[2020-08-15 04:06] ankar84 commented on #32
I think you are right!
It was fixed with some pr.

[2020-08-15 04:08] #32 closed

[2020-08-16 23:39] bj47cf commented on #49
I am same person as above using throwaway accounts. Yes that looks good. Please merge pull request. Thanks!

[2020-08-17 00:28] bj47cf opened #58 "If you have E2E encryption enabled, its hard to close blue bar at the top since the X is invisible in dark mode"
If you have E2E encryption enabled, its difficult to close blue bar at the top because the X is invisible in dark mode.

Whenever you have E2E encryption enabled and first join a channel/server it will have a blue bar at the top of RocketChat reminding you to store your encryption key. Usually there is an X at the top right side you can click to close this. This X is invisible while dark mode is e

[2020-08-17 12:59] #49 closed

[2020-08-21 17:43] iamjameswalters opened #61 "Reconnecting Alert Text Needs Recoloring"
I would do this myself in a PR, but I'm busy at the moment...but here's everything you need to know:

![noconnection](https://user-images.githubusercontent.com/33947683/90919156-f064a400-e3b3-11ea-9574-4f7fe9a972f0.PNG)

When disconnected, the reconnecting alert text is white in dark mode. Normally, it looks like this:

![image](https://user-images.githubusercontent.com/33947683/90919230-11c59000-

[2020-08-24 17:31] scrivna opened #63 "User presence status icon"
**Describe the bug**
The user presence status icon color is overridden with the dark theme background color

**To Reproduce**
Steps to reproduce the behavior:
1. In RC > 3.5 click a users name in the channel window
2. Observe the user card that pops up

**Expected behavior**
The modal pop-up user card should have a colored presence status icon as it does in "light mode"

**Screenshots**
![Screensh

[2020-08-31 15:10] Hamster-0001 opened #64 "Darkmode Toggle Not Changing From Dark to Light"
**Describe the bug**
Toggling dark mode on and off switches between black and gray instead of black and white.

**To Reproduce**
1. Go to the admin settings > layout
2. Copy and paste in the CSS Code in the Custom CSS Field
3. Copy and Paste the custom script into the "logged in users" field
4. Perform a hard refresh on your session (CTRL + F5)
5. Toggle the darkmode using the new menu option

**E

[2020-08-31 15:30] Hamster-0001 commented on #64
Nevermind. It was caused by conflicting settings.

- The "old colors" had settings other than default.

[2020-09-08 23:17] #64 closed

[2020-09-08 23:27] pbaity commented on #58
@bj47cf I don't see this in light mode either:
<img width="1025" alt="image" src="https://user-images.githubusercontent.com/39106297/92537086-48e7ce00-f209-11ea-8c03-4c48adbb8f38.png">

For me, once I click on the message, it gives me option to dismiss (here shown split in light and dark mode):
<img width="503" alt="image" src="https://user-images.githubusercontent.com/39106297/92536993-06be8c80-f

[2020-09-08 23:33] #61 closed

[2020-09-08 23:39] pbaity commented on #63
Clearly I am not this person, I gave it a try with the same result. I don't want to start writing a thousand rules for every instance of the `rcx-box` class, so I'm going to 1) wait for someone smarter to show up, that's saved me a few times already, and 2) open an issue with RocketChat to ask politely if they can give that little element a class or ID of it's own so it can be targeted with custom

[2020-09-09 00:02] pbaity commented on #63
It was hard to tell if I ought to open a bug or feature request for this one, since it wasn't really either, but I opened https://github.com/RocketChat/feature-requests/issues/389.

[2020-09-22 19:34] iamjameswalters opened #67 "Hover Menu is Transparent"
![image](https://user-images.githubusercontent.com/33947683/93928863-fa4a3180-fce8-11ea-950e-2402466ac274.png)

This hover menu for messages appears to be transparent now, should be opaque (with one of these gray colors).

I don't think it much matters with RocketChat, but this in on Firefox in Windows 10.

[2020-09-23 13:16] pbaity commented on #67
I added code from #66 and that seemed to cause this issue on our server. I've removed that code and it should be fixed now.

[2020-09-23 13:16] #67 closed

[2020-09-29 05:17] aradhya-gupta commented on #33
Although Hindi is not mentioned above, shall I add a Hindi translation for the tool tip?

[2020-09-29 12:14] pbaity commented on #33
@aradhya-gupta Please do! I took the list above from [this file](https://github.com/RocketChat/Rocket.Chat/blob/0750cb6af2643fe055f31d684d13bf9b21fc799c/app/autotranslate/server/deeplTranslate.js#L74) in the RocketChat repository, but I think these are just the languages that support auto-translation. I'm adding Hindi to the list now.

[2020-09-29 13:05] pbaity commented on #58
I don't think this is a bug, so I'm closing. If anyone disagrees just reopen or comment.

[2020-09-29 13:05] #58 closed

[2020-09-30 04:52] ankar84 opened #69 "Unread message indicator of Threads is invisible"
**Describe the bug**
Unread message indicator of Threads is invisible in Dark mode

**To Reproduce**
Steps to reproduce the behavior:
1. Make a Thread
2. Get unread message in thread
3. There is no blue dot (unread message indicator) in dark mode
4. In normal mode all fine

**Expected behavior**
Blue dot should be visible

**Screenshots**
Normal mode
![image](https://user-images.githubusercontent.

[2020-10-12 02:49] ankar84 opened #74 "Scrollbar thumb almost invisible in Rocket Chat"
**Describe the bug**
scrollbar-thumb almost invisible.
It's not a dark mode issue, it's Rocket Chat itself issue
I want to fix that in dark mode CSS

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sidebar
2. Try to scroll up and down
3. Scrollbar thumb almost invisible

**Expected behavior**
Visible scrollbar thumb

**Screenshots**
![image](https://user-images.githubusercontent.com/402

[2020-10-13 19:49] tripout opened #76 "Hovering over a message, white highlight box."
**Describe the bug**
Hovering over a message shows a white highlight

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 3.8.0-develop
2. Hover over a previous message
3. ????
4. Profit?

**Expected behavior**
Using the dark theme I would expect this to be dark themed as well.

**Screenshots**
https://imgur.com/YJB7i03

**Desktop (please complete the following information):**
 - OS: Window

[2020-10-13 19:58] pbaity commented on #76
@tripout I'm using the snap install which is at 3.6.2 and this doesn't occur. If by 3.8.0-develop you mean you're using a branch for development, I can't promise dark mode will work there as it continues to change. Can you give me some more information (links included) about that version? I don't see a 3.8.0-develop branch in the Rocket.Chat repo, but I'm probably looking in the wrong place.

[2020-10-14 12:11] pbaity commented on #69
I thought I had solved this issue by adding this rule:
[code]
But of course the aria-label is different in different languages, so this only works when Rocket.Chat is set to English. Reopening this issue so we can find a better solution.

[2020-10-14 19:47] pbaity commented on #69
@ankar84 I think this rule fixes it:

[2020-10-14 22:53] tripout commented on #76
Yes the docker-compose file I use pulls the latest develop image.

image: rocketchat/rocket.chat:develop

[2020-10-15 00:47] pbaity commented on #69
@ankar84 It looks like this also works:
[code]
Since there's only one button element in all of Rocket.Chat that uses the `rcx-contextual-message__follow` class (as far as I can tell) and it only has one div sibling with the `rcx-box--full` class. I'm testing this out before opening a PR, if you also want to test and confirm it works without unexpected results.

[2020-10-15 13:55] ulope opened #77 "Tables unreadable [w/ marked parser]"
**Describe the bug**
Inline tables (via markdown) are unreadable with light text on light background.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to dark mode
1. Switch markdown parser to `marked` (Admin -> Message -> Markdown)
1. Enable `Marked Tables`
1. Post a table into a channel:
[code]
4. See that the table is unreadable

**Expected behavior**
The table to be readable

**Add

[2020-10-15 14:09] pbaity commented on #77
@ulope Using our existing dark color variables I tried this:
[code]
This is the result:
![image](https://user-images.githubusercontent.com/39106297/96140930-7db50800-0ece-11eb-94c6-de046281a18c.png)
What do you think? Too dark? I may need to use hex colors instead of our variables if so.

[2020-10-15 14:54] ulope commented on #77
Hm the alternating row pattern is a bit difficult to see, otherwise it's fine I'd say.

[2020-10-15 15:25] pbaity commented on #77
Ah, I forgot I also have a `--color-dark-medium`. Changed the rules to this:
[code]
Which results in:
![image](https://user-images.githubusercontent.com/39106297/96151072-05a00f80-0ed9-11eb-8b3e-22bef20ad5fb.png)
If you like this better, I'll open a PR for it.

[2020-10-15 23:37] tripout commented on #76
Looks like the latest fix you did a couple of days ago fixed the hover colors for 3.8.0-develop.  Thank you!

[2020-10-15 23:37] #76 closed

[2020-10-16 12:42] pbaity commented on #69
@ankar84 See #78. If there are no objections I'll merge it soon

[2020-10-16 13:04] ankar84 commented on #69
#78 works like a charm
![image](https://user-images.githubusercontent.com/4023037/96261552-cc57c480-0fea-11eb-9dbe-4f1f6290f286.png)

Good job, @pbaity

[2020-10-16 13:26] pbaity commented on #74
Not fixing this issue because the scroll bar is visible in dark mode. As the issue states, this is a Rocket.Chat bug. We won't include fixes for Rocket.Chat light mode bugs in this repository in order to keep in clean.

That said, if anyone wants to copy and paste @ankar84 's fix into your local Rocket.Chat instance's CSS styles, this seems to fix it for the time being:
[code]
Thanks for raising t

[2020-10-16 13:26] #74 closed

[2020-10-19 17:51] #69 closed

[2020-10-19 17:51] #77 closed

[2020-10-27 01:39] bkraul opened #80 "Dark Mode not supported in Rocket.Chat version 3.8.0-develop"
**Describe the bug**
The sidebar has been redesigned on 3.8.0-develop (commit `edda351`)

**To Reproduce**
Steps to reproduce the behavior:
1. Update rocket.chat to the develop commit `edda351`.
2. The dark mode icon goes away.

**Expected behavior**
The dark mode icon should reflect the new design changes.

**Desktop (please complete the following information):**
 - OS: Windows 10 2004
 - Browser

[2020-11-02 02:59] acuconfdev opened #81 "Dark theme is not supported on rocketchat 3.8.0 (development)"
**Describe the bug**
Dark theme is not supported on rocketchat 3.8.0 (development)

**To Reproduce**
Steps to reproduce the behavior:
1. Install RocketChat 3.8.0 (Development)
2. Click on 'Administration-Layout-Custom CSS'
4. Set the contents of dark-mode.css
5. click on Custom Scripts > Custom Script for Logged In Users
6. Set the contents of dark-mode-toggle.js
7. Save changes
8. No changes in t

[2020-11-02 22:07] tripout commented on #81
Can confirm, Looks like the Light/Dark toggle button is missing.

Using 3.8.0-develop from a docker-compose file.

[2020-11-05 11:05] microsoft-sucks opened #82 "Normal Chat alignment of own messages"
Currently Rocket.Chat aligns all message on one side. Many people prefer the classical way of messengers where own send messages are on the other side.

![align](https://user-images.githubusercontent.com/67187266/98232990-ab85ed80-1f5e-11eb-9c72-ceee2a4b2f10.jpg)

I wrote some CSS/JS to change the alignment.

Would you be interested in merging and maintaining such a feature?
(currently only 70 lin

[2020-11-05 21:01] bkraul commented on #81
This has been already reported on #80. Working (very slowly) on a PR, but will need a 3.8.0 branch created by @pbaity .

[2020-11-09 16:48] pbaity commented on #81
Sorry for the delay in getting to these. I've created a [3.8.0 branch](https://github.com/pbaity/rocketchat-dark-mode/tree/3.8.0).

Closing this issue since it's a duplicate of #80, we can track the issue and progress towards a PR there.

[2020-11-09 16:48] #81 closed

[2020-11-09 16:53] pbaity commented on #80
I've created a [3.8.0 branch](https://github.com/pbaity/rocketchat-dark-mode/tree/3.8.0) so we can prepare for the official drop of 3.8.0. But as a comment to anyone finding this issue, _technically_ I only intend to support ["official" (i.e., non-development) versions of Rocket.Chat](https://github.com/pbaity/rocketchat-dark-mode/blob/master/CONTRIBUTING.md#2-supporting-rocketchat-versions) with

[2020-11-09 16:58] pbaity commented on #82
@microsoft-sucks I like this feature but it's outside of the scope of this repository. I'd recommend creating a separate repository with just the code to add this feature. It should be easier to develop and maintain that way.

Closing this issue, but if you do create a repo for it, please post the link here so I and others can use it. I'll be checking with my users to see if this is something we'd

[2020-11-09 17:32] bkraul commented on #80
@pbaity Understood. Thing is, though, the rebranding and redesign of the sidebar is eventually going to come to official. And from experience, that transition does not take long at all.

[2020-11-09 17:54] pbaity commented on #80
Yes, agreed. We should not wait until the code in any development branch becomes "official" to begin fixing the CSS and JS to work with it. I just want to frame the expectations of the community so users will understand that the dark theme is not 100% guaranteed to work if they choose to use a development branch for their Rocket.Chat instance. If the Rocket.Chat branch is in development, so is the

[2020-11-09 21:39] bkraul commented on #80
Just PR'd a "quick and dirty" support for 3.8.0. Most things look ok, basically the point is to leave the sidebar alone and focus on the `.main-content` class because without filtering some things, the sidebar gets broken pretty bad. This, hopefully until a proper fix is put in place. A few of the side-effects are that the admin sidebar shows up as light.

[2020-11-15 03:43] falconws commented on #80
Rocket Chat 3.8.0 seems to work when correctly applied 3.8.0 branch.

[2020-11-21 10:00] RocketGoat666 commented on #80
As of the latest UI change, the unread messages indicator almost indistinguishable from normal text.
![image](https://user-images.githubusercontent.com/74815544/99874459-13fbec80-2c38-11eb-8d61-e15aa7e0dec9.png)
I'm using the 3.8.0 version, but I'm not sure which part of the CSS I need to change to fix this.

[2020-11-23 14:18] pbaity commented on #80
My Rocket.Chat instance got upgraded to 3.8.1. The 3.8.0 branch fixes some issues I saw, but it looks like the background color on the sidebar (both in main chat and admin) was correct:

![image](https://user-images.githubusercontent.com/39106297/99972684-d351bf80-2d6c-11eb-9916-d75294c86788.png)

I've created a [3.7.2 branch](https://github.com/pbaity/rocketchat-dark-mode/tree/3.7.2) to save the

[2020-11-23 14:18] #80 closed

[2020-11-23 14:39] pbaity opened #84 "Admin sidebar is not dark"
**Describe the bug**
The sidebar in the administration screen is white.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Administration'
2. See for yourself

**Expected behavior**
It should be styled dark. It doesn't have this effect if you're using the [3.7.2 branch](https://github.com/pbaity/rocketchat-dark-mode/tree/3.7.2) (though of course this introduces other problems).

**Screen

[2020-11-23 14:55] pbaity opened #86 "User modal is not dark"
**Describe the bug**
The user details modal is not styled dark.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on a user's name in the main chat window.
2. See for yourself.

**Expected behavior**
The modal's background should be dark.

**Screenshots**

<img width="467" alt="image" src="https://user-images.githubusercontent.com/39106297/99976832-edda6780-2d71-11eb-80f3-2a8170d759a1.pn

[2020-11-23 15:06] pbaity opened #87 "Sidebar top menu has poor spacing"
**Describe the bug**
The buttons in the top menu of the sidebar for dark mode, home, search, etc. are pretty spread out weirdly (at least on smaller screens; haven't yet confirmed this is still happening on larger screens).

**To Reproduce**
Steps to reproduce the behavior:
1. Take your eyes and put them on the top left corner of your screen when Rocket.Chat is open to the main chat.

**Expected b

[2020-11-23 15:07] pbaity commented on #87
Adding this rule:
[code]
Seems to help at least on my screen:

<img width="293" alt="image" src="https://user-images.githubusercontent.com/39106297/99978213-a94fcb80-2d73-11eb-8cc9-3d563a9cf5aa.png">

I should be able to connect to a bigger screen later and confirm this works.

[2020-11-23 16:11] pbaity opened #89 "Mention links have blue text"
**Describe the bug**
Mentions of the group or the current user (`mention-group` and `mention-me`) have blue text because all links are being styled blue. These have had white text in the past and all they need is a rule added to the stylesheet to override the general link rule (right now there's just a variable declaration for the color).

**Expected behavior**
Group- and me-mentions ought to have

[2020-11-24 13:24] pbaity opened #90 "Confirmation dialog to hide discussion is not dark"
**Describe the bug**
When you select to hide a private discussion with another user, a confirmation dialog appears. It's still got a white background, rather than a dark one.

**To Reproduce**
Steps to reproduce the behavior:
1. Select the options '...' beside any private discussion with another user.
2. Click on 'Hide'
3. See the blindingly brilliant white dialog appear

**Expected behavior**
Thi

[2020-11-24 13:27] pbaity opened #91 "Channel/discussion options dialog is not dark"
**Describe the bug**
When you select the '...' options menu beside a channel or private discussion, a dialog appears with options such as 'Hide', 'Mark Read', etc. This dialog is still white rather than being styled dark.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the '...' options menu beside any channel or private discussion.
2. See the lack of dark mode

**Expected behavior*

[2020-11-30 10:26] Weuxel opened #92 "Dark Mode Toggle Button is gone in Rocket.Chat 3.9.0"
**Describe the bug**
Dark Mode Toggle Button is gone in Rocket.Chat 3.9.0

**To Reproduce**
Steps to reproduce the behavior:
1. Update to Rocket.Chat 3.9.0.
2. Toggle Button is gone.

**Expected behavior**
Toggle Button should appear in the UI.

**Screenshots**
<img width="272" alt="no_toogle_button" src="https://user-images.githubusercontent.com/1791989/100598071-86d32a80-32fe-11eb-8721-c29f475ed

[2020-12-01 21:41] rahul-arasikere commented on #92
Updating to the version on master fixed it for me (based on 3.8.0).

[2020-12-02 07:03] Weuxel commented on #92
Confirmed. Thanks!

[2020-12-02 07:03] #92 closed

[2020-12-02 20:51] notatallshaw opened #93 "hljs-subst should be a light colour"
Currently when you create a string substitution in the code syntax you get a very dark color, almost impossible to see. E.g.

[code]

The CSS class for this is "hljs-subst", I've tested it as white and it looks fine, maybe it would be nice as another light color.

[2020-12-06 22:08] ninermac49 opened #94 "Add option for light/dark in Room Actions toolbar"
I use rocket chat often with it's embedded layout. I would love to have the ability to toggle light/dark in the Room Actions as that is the only toolbar available in this mode.

[2020-12-07 19:06] mlongmiresqa commented on #87
Adding that rule fixed the issue for me as well. 3440x1440 monitor here.

![Screenshot 2020-12-07 110253](https://user-images.githubusercontent.com/8139065/101393555-23a44380-387c-11eb-94ba-103ee59249f9.png)

[2020-12-09 10:35] bseclier commented on #33
Franch traduction is : "Activer le mode sombre".

[2020-12-09 13:00] emikolajczak opened #95 "3.9.1 Toggle button not visible"
**Describe the bug**
In latest 3.9.1 version toggle dark mode button is not visible.

![image](https://user-images.githubusercontent.com/50440047/101632670-86d1d980-3a26-11eb-84f4-cd5d7013c267.png)

In dev tools an error appear

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Update to 3.9.1 server version
2. Toggle dark mode button is not visible

**Expected behavior**
Button is visib

[2020-12-10 00:34] rahul-arasikere commented on #95
Try reinstalling the script from master. Worked for me.

[2020-12-10 10:07] emikolajczak commented on #95
Thank, works.

[2020-12-10 10:07] #95 closed

[2020-12-30 07:55] awunder opened #97 "the theme switch button is gone again in rc 3.10"
**Describe the bug**
the theme switch button is gone again in rc 3.10
**To Reproduce**
Steps to reproduce the behavior:
install rocket 3.10 and you see it right away

**Expected behavior**
it should be visible again

**Screenshots**
![image](https://user-images.githubusercontent.com/13486613/103337755-4e805280-4a4a-11eb-9231-1d5938dd74ce.png)

**Desktop (please complete the following information):

[2020-12-30 08:24] MNUser commented on #97
Fixed it for me by replacing
`const sidebarToolbar = $('.rcx-\\@vi4iz8').first();`
with
`const sidebarToolbar = $('.rcx-css-vi4iz8');`

although not sure if this is the proper way of doing this.

The icon is now a little bit too small.

[2020-12-30 20:36] mrplow commented on #97
Thanks @MNUser, better than nothing for now

[2020-12-31 16:25] nhcarrigan commented on #97
I can reproduce this issue on the Rocket.Chat desktop client, as well - and the fix above does work, with the slightly smaller icon.
The hover effect suggests the icon is the correct size, though, so the SVG might need resizing instead?

I would be happy to play with that a bit, if desired.

[2020-12-31 16:31] awunder commented on #97
yeah, thx @MNUser

rest was just a little css... change

[code]

to

[code]

and you're good to go

[2021-01-06 13:46] antoine-roux commented on #97
IMHO the following should be more robust for future changes 😉.
[code]

My best for all of you!
Antoine

[2021-01-11 16:31] iamjameswalters opened #99 "Can't differentiate read and unread text in left panel"
**Describe the bug**
The left-hand panel text becomes white in dark mode, making it hard to spot the difference between read and unread messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Have an unread message.
2. Click on the Dark Mode toggle to enable Dark Mode

**Expected behavior**
Historically, this styling on the left panel hasn't changed in dark mode, because this panel is alre

[2021-01-11 19:12] pbaity commented on #97
@antoine-roux I've tested your suggestion and so far it looks good. If you open a PR for it, I'll merge it, and that way you can get credit for it! Or if you prefer I'll just add it.

I think all the issues described here are now fixed. If anyone finds otherwise, reopen this issue.

[2021-01-11 19:12] #97 closed

[2021-01-11 19:12] pbaity commented on #84
Fixed by #96

[2021-01-11 19:12] #84 closed

[2021-01-11 19:13] pbaity commented on #87
This got added in #96 . Fixed now.

[2021-01-11 19:13] #87 closed

[2021-01-11 19:14] pbaity commented on #86
Fixed in #96.

[2021-01-11 19:14] #86 closed

[2021-01-11 19:15] pbaity commented on #63
This seems to now be resolved:
![image](https://user-images.githubusercontent.com/39106297/104227444-675c1100-5417-11eb-877a-c17dd7b27e1c.png)
If anyone finds otherwise, they can reopen this issue.

[2021-01-11 19:15] #63 closed

[2021-01-11 19:17] pbaity commented on #91
This is no longer an issue, maybe fixed in #96 . There are some other weird colors going on and this can be improved, but I'll leave that for another issue.

![image](https://user-images.githubusercontent.com/39106297/104227671-c3bf3080-5417-11eb-9912-d54b5defa3df.png)

[2021-01-11 19:17] #91 closed

[2021-01-11 19:18] pbaity commented on #90
Fixed by #96

[2021-01-11 19:18] #90 closed

[2021-01-11 19:36] pbaity commented on #93
@notatallshaw So sorry for the delay, I was out for the holidays! Check out https://github.com/pbaity/rocketchat-dark-mode/pull/100 and let me know what you think. I'm not opposed to coloring them white, but figured I'd keep it the same color with other elements that it shares color with in light mode.

[2021-01-11 19:55] notatallshaw commented on #93
No problem, this looks great to me!

[2021-01-11 20:30] pbaity commented on #94
@ninermac49 That's a good idea. In a best-case scenario I think our JS could detect embedded mode and append the toggle button to the channel options instead of the sidebar. I'll start looking into if this is possible.

[2021-01-12 15:55] pbaity commented on #33
Thanks @bseclier , after a long holiday break I added your translation in #102.

[2021-01-12 20:10] #89 closed

[2021-01-12 20:11] #93 closed

[2021-01-13 12:27] #99 closed

[2021-01-13 12:47] pbaity opened #107 "No hover or active styles on the sidebar channel list"
**Describe the bug**
Previously (and still in light mode) when you hover or select a channel or direct message, it is highlighted in some way.

**To Reproduce**
Steps to reproduce the behavior:
1. Hover over any of the channels or direct messages in the sidebar
2. See that there is no hover or active style (without dark mode, there is)

**Expected behavior**
There should be hover and active highli

[2021-01-15 17:27] mmgoilf opened #108 "Toggle button not visible on 3.10.3"
**Describe the bug**
On 3.10.3 the toggle button is no longer visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Add CSS
2. Try to toggle dark mode

**Expected behavior**
Toggle button appears

**Desktop (please complete the following information):**
 - OS: Windows 10, arch linux
 - Browser, firefox, and using rocketchat desktop app
 - Version: server 3.10.3

**Additional context**
_I

[2021-01-18 15:51] pbaity commented on #108
@mmgoilf Can you confirm you have the most recent version of [dark-mode-toggle.js](https://github.com/pbaity/rocketchat-dark-mode/blob/master/dark-mode-toggle.js) and see if this issue persists? Usually this problem was caused when the class name of the top-of-sidebar button group changed, but hopefully we addressed that issue in #103.

Also, I can help you with your CSS as I have time. I'd recomm

[2021-01-18 18:28] bkraul commented on #108
Make sure your `dark-mode-toggle.js` references has this as it's sideBar:

[2021-01-18 18:35] bkraul commented on #107
Make sure you are using the latest version of the script and CSS. This works with current master:

![y4AipWZ7LS](https://user-images.githubusercontent.com/14616851/104952199-a5ae7e80-5989-11eb-8160-3795cfb72b3a.gif)

[2021-01-19 04:59] iamjameswalters commented on #107
@bkraul on what version? I can confirm @pbaity 's bug, but as he said, we're on 3.9.3.

[2021-01-19 08:42] diggamies commented on #107
Same here, still got the issue, even with the newest version of master.

[2021-01-19 12:46] bkraul commented on #107
Running 3.11-develop here. Let me spin up 3.9.3 and will get back with you.

[2021-01-19 14:15] mmgoilf commented on #108
Yes, I just tried the most recent version of the CSS and JS again.

 Originally I made custom CSS from scratch, but got sick of it constantly breaking every time rocketchat updated, so I started using this as a template: https://github.com/linusg/rocketchat-dark/blob/master/style.css . I just added my own custom background to match the theme of my server, and tried to fix some things that are stil

[2021-01-19 14:15] mmgoilf commented on #108
Yes I checked, still didn't work.

[2021-01-20 12:49] bkraul commented on #107
So I can confirm this behavior on 3.9.3 all the way latest develop (3.11). My suspicion would be that CSS changes introduced after my initial 3.8 PR started touching the sidebar. Initially I had opted for not touching the sidebar at all because there were a lot of style conflicts. This no longer seems to be the case.

After doing a compare of what I have that works and the current master, my suspi

[2021-01-20 13:08] bkraul commented on #107
I just removed the mentioned block from my test instance, and the hover behaviors are working:
![pkwxUxkF7g](https://user-images.githubusercontent.com/14616851/105178906-428a2c80-5aee-11eb-856b-a234dcee2ce9.gif)

[2021-01-26 10:24] TBG-FR commented on #108
Encountering the same issue with 3.10.4 today, while yesterday the button was visible...

However, if in another tab, in the Admin panel, I add somethings to the custom JS and I save it, the button appears on the first tab... Looks like it's an "first load" issue then, I'm trying to identify the culprit in the code, I'll keep you updated ;)

[2021-01-29 10:48] TBG-FR commented on #108
After some hours (days) of investigation, I still struggle to find the culprit... At some point I thought it was an issue related to how RocketChat parses custom scripts (there is a similar issue with CSS : https://github.com/RocketChat/Rocket.Chat/issues/19405 ) but I'm not 100% sure.

Could this be that something changed in the RocketChat page loading process ?
Because when it happens, I see the

[2021-02-01 06:49] mbu147 opened #114 "Online badge icon not visible in direct chat"
**Describe the bug**
Looks like in latest RocketChat Server 3.11.0 the online badge icon is not visible in direct chat window.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any directchat
2. Look at the top in front of complete name, there's no online badge icon

**Screenshots**
Active Darkmode
![image](https://user-images.githubusercontent.com/36038279/106423801-6ab84a80-6461-11eb-8a

[2021-02-01 09:48] adocampo commented on #108
Today I've updated from 3.7.0 to 3.11 and toggle button has disappeared as well

[2021-02-01 19:45] nvp2211 commented on #108
I got the same issue and did a temporary "hack" by adding text to side navigation footer in content like this `<span onclick="document.body.classList.toggle('dark-mode');"> dark mode</span>`

[2021-02-10 09:39] mmgoilf commented on #108
@pbaity Most of the CSS issues I finally fixed on my own, the top panel's white border I fixed on accident while getting rid of the white border for the call panel, they both use the --rcx-color-neutral-300 variable.

The toggle switch still does not appear to work in 3.11.0.

[2021-02-10 13:41] pbaity commented on #108
@mmgoilf Great job with the CSS! Glad you were able to work it out and grow your CSS skills.

I've been too busy at work to look into the toggle switch issue, but hopefully can get to it this week or weekend.

[2021-02-11 18:40] redzonej commented on #114
@mbu147 @pbaity I have the same issue with latest snap server version 3.10.5 and latest css.

Also, custom user statuses no longer show up underneath their name in Direct Message. Do you see this behavior as well?

[2021-02-11 18:44] redzonej commented on #108
@pbaity this appears fixed to me now with your last commit (Using today's css files works!) The issues I still see are listed in #114 which are the online status green icon not showing and any custom user status not showing in direct messages

[2021-02-15 15:34] TBG-FR commented on #114
Can you reproduce it in RocketChat 3.11.x with the latest commits from this repo ? I just tried, and it seems fixed

If you really need this fixed for 3.10.x, I think you'll easily find the culprit: a `background-color` instruction is hiding the icon, overriding the `background` instruction of `.rcx-status-bullet-online`

[2021-02-16 06:20] mbu147 commented on #114
@TBG-FR
yep - fixed for me with current RocketChat release (3.11.1) and master branch.

Thanks!

[2021-02-16 06:20] #114 closed

[2021-02-18 09:42] fdellwing opened #118 "Text color of embeds/attachements"
**Describe the bug**
In the newest version the text color of embeds/attachements is the same as the background color.

**To Reproduce**
Look at any message with an attachement.

**Expected behavior**
The text should be readable

**Screenshots**
![Screenshot_20210218_103946](https://user-images.githubusercontent.com/22813377/108337840-d9bdcf00-71d5-11eb-8646-f04a8728895f.png)

**Desktop (please com

[2021-02-21 05:35] SaberMage commented on #108
This issue is most likely caused by React's, well, reactivity. For the time being, you can edit the custom script to fix this issue:

Under the line that reads `if(!sidebarToolbar.length) {` (near line 60), change `setTimeout(addDarkModeToggle, 250);` to `setTimeout(addDarkModeToggle, 1000);`.

As long as nothing triggers a change to the button bar, the dark mode button should remain visible. The

[2021-02-23 13:03] #118 closed

[2021-02-23 13:06] pbaity commented on #108
@SaberMage Good tip - I somehow still haven't experienced the issue of the toggle button not appearing, but if you think it'd be good to increase the default timeout to 1000, open a PR for it. I can merge it and add a note to the README about adjusting it per what you've said above.

[2021-02-23 13:08] pbaity commented on #107
This has since been resolved

[2021-02-23 13:08] #107 closed

[2021-02-25 08:54] stbc opened #121 "Color of cited messages"
**Describe the bug**
The color of cited message is not rendered in dark mode

**To Reproduce**
Steps to reproduce the behavior:
1. Cite a message
2. switch to dark mode

**Expected behavior**

**Screenshots**
![grafik](https://user-images.githubusercontent.com/2520567/109128028-59f0b100-774f-11eb-8a40-0f936bafb35f.png)

**Desktop (please complete the following information):**
 - OS: Win
 - Browser

[2021-02-25 08:56] stbc opened #122 "Card is not rendered in dark mode"
**Describe the bug**
The user card is not rendered in dark mode, icons not visible

**To Reproduce**
Steps to reproduce the behavior:
1. click on a users avatar
2. see card

**Expected behavior**
visible icons, dark colos

**Screenshots**
![grafik](https://user-images.githubusercontent.com/2520567/109128328-acca6880-774f-11eb-81aa-2398e13bc8b2.png)

**Desktop (please complete the following informa

[2021-03-01 14:06] araujorm commented on #121
I can confirm, both in Firefox and Rocket Chat client.

Also, when citing, the cited message is not visible. These issues are easily reproducible (just quote a message when using dark theme).

[2021-03-01 14:28] mmgoilf opened #124 "Closed"

[2021-03-01 15:18] fdellwing commented on #124
Are you sure that you reported that in in correct repository? This theme does not touch the symbols and definitely has to impact on file upload to the server.

[2021-03-02 19:10] mmgoilf commented on #124
Yea my bad was super sleep deprived when I made this, whoops. Just delete it.

[2021-03-02 19:10] #124 closed

[2021-03-09 15:11] #121 closed

[2021-03-09 15:11] #122 closed

[2021-03-10 23:41] pbaity commented on #108
Is anyone else still having this problem? I still haven't been able to recreate it, but if others are still seeing it, let's increase that timeout. I don't think a full 1-second timeout will be too big of a deal if others agree.

[2021-03-11 11:23] brunobertoldi commented on #108
It's been a while that the toggle button is working

[2021-03-12 20:31] jrgong420 opened #127 "Hide toggle button on native desktop app"
///never mind, had a brain fart. didn't see that master branch is for 3.12.2 initially

[2021-03-12 20:33] #127 closed

[2021-03-16 19:04] pbaity commented on #108
Going to close this issue since that seemed to be a temporary problem. If we encounter it again we can increase the timeout.

[2021-03-16 19:04] #108 closed

[2021-03-16 23:46] dusatvoj opened #128 "Ugly white lines and bad thread height when in wide mode in 3.12.1"
**Describe the bug**
Hi, I've recently upgraded to RC `v3.12.1` and RC-dark-mode to the code from master branch and I have some ugly white lines and bad height of wide thread window there

**To Reproduce**
Steps to reproduce the behavior:
1. Install RC 3.12.1
2. Apply dark mode
3.
![image](https://user-images.githubusercontent.com/11560794/111393716-944bcf00-86b9-11eb-9512-450e21c28a85.png)
![imag

[2021-03-30 09:42] BrotherIAmPinnedHere opened #129 "Video upload caption box does not change to dark mode."
![image](https://user-images.githubusercontent.com/16894072/112968719-1812ba80-9194-11eb-98c0-002a01fdb2b1.png)

[2021-04-01 02:50] BrotherIAmPinnedHere opened #130 "User account tab text is same colour as background"
![image](https://user-images.githubusercontent.com/16894072/113236727-fbd66100-92ec-11eb-8246-1080be881312.png)

[2021-04-07 09:32] emikolajczak opened #131 "Hover in options list is to bright - server version 3.13.0"
**Describe the bug**
I.e. in room options menu, hoover items are too bright. Example on screen below

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any room
2. Click three dots (more options)
3. move pointer on any options
4. Hover is too bright

**Expected behavior**
Hover is darker

**Screenshots**

![image](https://user-images.githubusercontent.com/50440047/113844303-a12d8100-9794-

[2021-04-07 10:57] emikolajczak opened #132 "Dark/Light toggle button is too small - 3.13.0"
**Describe the bug**
After upgrade Rocket.Chat server to 3.13.0 toggle button is too small.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade server to 3.13.0
2. Check toggle button size
3. Toggle button is too small

**Expected behavior**
Toggle button has correct size

**Screenshots**
![image](https://user-images.githubusercontent.com/50440047/113855818-c32d0080-97a0-11eb-91d7-66936a

[2021-04-08 19:15] itJunky opened #133 "No switch button after apply css and js"
First i set it in version 3.12.0. Because i don't see any special version of dark-mode for it. Afer that i clean browser data(not cookies).
No switch button for dark-mode at top of left menu.
Next, i'll update rocket to 3.13.0 version and check custom CSS and custom script fields. Not empty and correct text, but no switch again :(
After that i'll change deafault in js to const darkModeDefault = tr

[2021-04-09 07:31] fdellwing commented on #132
I'm looking into this issue, but I can not reproduce it. Can anyone here reproduce the problem?

[2021-04-09 07:43] fdellwing commented on #131
I'm currently looking into this issue. I can reproduce the white border around the menu, but not the white highlight. Did you modify some colors in the custom CSS or in RC itself (`Layout -> Colors`)?

[2021-04-09 07:45] fdellwing commented on #133
Did you make sure you pasted the script into `Custom Script for Logged in Users`? It's the third field from top.

[2021-04-09 07:45] emikolajczak commented on #131
Hi, I didn't change `Colors`, only custom CSS.

[2021-04-09 07:57] itJunky commented on #133
Yes, beacuse i see only one "Custom scripts" field.
![изображение](https://user-images.githubusercontent.com/1845772/114148387-5c375500-9922-11eb-9ba3-968a60cc78c6.png)

[2021-04-09 08:01] fdellwing commented on #133
Click on custom scripts and there will be 3 text fields.

[2021-04-09 08:02] fdellwing commented on #131
Can you provide me your currently used custom CSS so that I can take a look what might be the problem?

[2021-04-09 08:11] emikolajczak commented on #131
Strange, i have double check after my server restart and now it looks ok. As you said, only white border around three dots menu. Sorry for false alarm, it looks as some cache on my side.

[2021-04-09 08:11] fdellwing commented on #131
No problem 👍

[2021-04-09 15:04] pbaity commented on #133
@Blueshawk the buttons are actually [SVGs](https://github.com/pbaity/rocketchat-dark-mode/blob/master/dark-mode-toggle.js#L15-L20), not PNGs, so no need to have them on your server.

[2021-04-09 15:18] Blueshawk commented on #133
Got it sorted now thanks. I actually did something silly and didn't catch it till just now, so sharing. I usually clone stuff from git so when I decided to just grab the two files instead I didn't realize I got the html page.. (facepalm) Kudos to rocketchat for not exploding when fed huge amounts of garbage. LOL

@itJunky Check to be sure your script is actually what you think it is.

[2021-04-09 18:38] itJunky commented on #133
Wow, thanks. I set code to first field, but need set it to third field. It's because i see translated to russian language field names. Before i think it just different after translation.

Now it's worked.

[2021-04-09 18:38] #133 closed

[2021-04-16 19:05] pbaity commented on #132
I also don't see this. @emikolajczak has this issue persisted for you, even after refreshing your cache?

[2021-04-20 13:35] sennewood opened #135 "No scroll bar in channel list after switching between light- and dark mode"
**Describe the bug**
The scroll bar disappears when you switch between light and dark mode.

**To Reproduce**
1. Move mouse out of Rocket.Chat (i.e. to the browser title bar) and keep it there.
2. Refresh the page.
3. Switch to light mode.
4. Refresh the page.
5. Switch to dark mode.
6. Move mouse to the channel list.
7. No scroll bar.

**Expected behavior**
There should be a scroll bar.

**Screen

[2021-04-21 01:26] pbaity commented on #135
Is anyone else able to recreate this issue? I was not, but I'm on Mac.

[2021-04-21 01:27] pbaity commented on #128
I'll work on the white lines, but I don't think the dark mode is causing the change in the height of the thread window.

[2021-04-21 12:05] fdellwing commented on #135
I can not confirm the issue that is mentioned here, but I have a different problem:

The scrollbar (a pretty dark grey) auto hides some seconds after the mouse leaves the channel list. With the steps mentioned above I do get a second scrollbar in a lighter color that is not automatically hidden.

[2021-04-21 13:25] pbaity commented on #131
@emikolajczak Added a fix for this in #136, check it out and let me know what you think.

[2021-04-21 13:25] pbaity commented on #128
@dusatvoj Added a fix for this in #136, check it out and let me know what you think.

[2021-04-21 16:23] dusatvoj commented on #128
@pbaity Looks much better. There's last white line in the middle and It will be excelently fixed. :hearts:
![image](https://user-images.githubusercontent.com/11560794/115588080-a6c7b280-a2ce-11eb-83ee-eb0152fce9fe.png)

[2021-04-21 18:34] pbaity commented on #128
Interesting, I don't see that white line on the side of the thread panel - in the picture I posted in that PR of the thread panel it's not there, and I still don't see it.

[2021-04-21 18:48] dusatvoj commented on #128
Interesting. Nevermind :grinning:
Thank you for PR.

[2021-04-22 07:18] sennewood commented on #135
Maybe it's important to know, that I use my work laptop, so I only use the touchpad and don't have a mouse wheel - I can only scroll with those tiny scroll bars ^^

[2021-04-22 07:21] fdellwing commented on #135
It's a bit off topic, but on 99% of modern laptops + OS you can enable two-finger scrolling for your touchpad.

[2021-04-27 13:49] pbaity commented on #132
@emikolajczak Haven't heard back and still don't see this issue. If it persists you can comment here or open a new issue.

[2021-04-27 13:49] #132 closed

[2021-04-27 13:51] #131 closed

[2021-04-27 13:51] #128 closed

[2021-05-06 22:45] philliml74 opened #137 "Rocket.Chat 3.14.0 - CSS/JS doesn't appear to load?"
**Describe the bug**
CSS and JS do not appear to be working in 3.14.0

**To Reproduce**
Steps to reproduce the behavior:
1. Goto Administration
2. Goto Layout
3. Open Custom CSS
4. Paste CSS from 'master' branch
5. Open Custom Script
6. Paste JS from 'master' branch

**Expected behavior**
The toggle image to appear after a refresh and clear of browser cache.

**Screenshots**
![image](https://user-

[2021-05-07 10:30] fdellwing commented on #137
It seems like you pasted the script in the wrong area (`Custom Script for Logout Flow`). It has to go into `Custom Script for Logged in Users`.

[2021-05-07 11:25] philliml74 commented on #137
Well, um, well...thank you for pointing that out.  I have corrected that and now it just works.

[2021-05-07 11:25] #137 closed

[2021-05-17 20:39] pbaity opened #139 "Change colors to match preview of native dark mode"
@fdellwing and a few others of us talked previously (see [this comment](https://github.com/pbaity/rocketchat-dark-mode/pull/134#issuecomment-821512689) and following) about improving the colors and contrast of the dark theme. I think this is an excellent idea and we agreed a good starting point would be to emulate the [colors of the sample native dark theme shared by the Rocket.Chat team](https://

[2021-05-17 20:40] pbaity commented on #139
@fdellwing Do you still plan on working on this? If not that's fine, just checking in.

[2021-05-18 02:46] SamCrabtree opened #140 "Quoted inline code in dark mode presents a light background for text."
When one quotes inline code in a conversation, the inline code in question pops up with a white background.

Steps to reproduce the behavior:
1. On any channel, add a section of inline code to a message and hit send.
2. Quote said message and text will display a light colored background.

Quoted Inline code should have dark themed background.

![error](https://user-images.githubusercontent.com/536

[2021-05-18 06:02] fdellwing commented on #139
I already started with a few basics, but I have very little time atm for this at work. Will likely take another 3-4 weeks until I have something to present.

[2021-05-18 11:44] pbaity commented on #139
Great, thanks for working on it, and no rush at all - when you feel like you have enough to share, feel free to open a WIP PR and I can do what I can to test and assist.

[2021-05-18 12:15] #129 closed

[2021-05-18 12:15] #130 closed

[2021-05-18 12:15] #140 closed

[2021-05-20 06:27] ankar84 opened #141 "Variants not visible in Poll application and something not visible in prune menu"
**Describe the bug**
When you install Rocket.Chat Poll application and create some poll - you can't see variants in dark mode

**To Reproduce**
Steps to reproduce the behavior:
1. Install Poll App
2. Create poll
3. Chech variants

**Expected behavior**
All variants should be visible

**Screenshots**
Pool issue
![image](https://user-images.githubusercontent.com/4023037/118929435-2d62c480-b94d-11eb-

[2021-05-20 06:41] ankar84 commented on #141
I guess in my case that code will fix Poll App issue

[code]

Important that in my case `data-username="app.poll"` but in dark-mode.css is `data-username="poll.bot"` for some reason

[2021-05-20 09:16] ankar84 opened #143 "Users that Reacted modal window need to be more clear"
**Describe the bug**
**Users that Reacted** modal window need more consistent background

**To Reproduce**
Steps to reproduce the behavior:
1. Set reaction to message
2. Open Reaction in message menu
3. Check modal window
4. See error

**Expected behavior**
Consistent background

**Screenshots**
![image](https://user-images.githubusercontent.com/4023037/118952551-b802ee00-b964-11eb-8c60-e89acd3d38

[2021-05-20 10:28] ankar84 opened #144 "Video Conference modal - Cancel button not visible"
**Describe the bug**
**Cancel** button not visible at **Video Conference** modal

**To Reproduce**
Steps to reproduce the behavior:
1. Click call button
2. Check **Video Conference** modal

**Expected behavior**
Cancel should be readable

**Screenshots**
![image](https://user-images.githubusercontent.com/4023037/118963160-d968d780-b96e-11eb-8780-f662c714aca4.png)

**Desktop (please complete the fo

[2021-05-20 15:12] pbaity commented on #141
Interesting, @ankar84 what version of Rocket.Chat are you using? `data-username="poll.bot"` works for me but not `data-username="app.poll"` on RC 3.13.2.

`data-username="poll.bot"`

![image](https://user-images.githubusercontent.com/39106297/119004122-46bf3d00-b95c-11eb-9d32-d64d76f3d1b1.png)

`data-username="app.poll"`

![image](https://user-images.githubusercontent.com/39106297/119003973-268f7e

[2021-05-20 15:15] ankar84 commented on #141
3.14

[2021-05-20 15:19] pbaity commented on #141
Got it. Based on that see my suggestion here: https://github.com/pbaity/rocketchat-dark-mode/pull/142/files#r636205362

[2021-06-10 10:50] ankar84 opened #147 "Thread list broken in 3.15.0"
**Describe the bug**
Thread list broken in 3.15.0 - it's too light, and text hard to read

**To Reproduce**
Steps to reproduce the behavior:
1. Go to channel
2. Click on thread icon
3. Check

**Expected behavior**
Thread list should be more darker

**Screenshots**
![image](https://user-images.githubusercontent.com/4023037/121512773-bfad3400-c9f2-11eb-86b0-78cbd63246dc.png)

**Desktop (please compl

[2021-06-22 14:26] #147 closed

[2021-07-02 08:28] tammer123 opened #149 "Dark Mode button not appearing in 3.16.0"
**Describe the bug**
Hello, after updating from 3.14.1 -> 3.16.0, I don't have the dark mode button appearing. I even tried to remove the custom css and script, still didn't help.

**To Reproduce**
Steps to reproduce the behavior:
1. Goto Administration
2. Goto Layout
3. Open Custom CSS
4. Paste CSS from 'master' branch
5. Open Custom Script
6. Paste JS from 'master' branch

**Expected behavior**

[2021-07-08 08:41] tammer123 commented on #149
Hello,

I found the issue.

After adding the custom script part of the dark mode, script.js is not generated till the end and brakes. If I remove the darkmode script, then script.js generates till the end.

Is the error on my end or something else?

[2021-07-20 06:16] ankar84 commented on #149
Working good in my deployment with 3.16.3

[2021-07-20 06:18] ankar84 commented on #141
Poll issue fixed by https://github.com/pbaity/rocketchat-dark-mode/pull/142

[2021-07-20 06:18] #141 closed

[2021-07-20 06:24] ankar84 opened #150 "Direct Messages modal hard to use in 3.16.X"
**Describe the bug**
Create Direct Messages modal not usable in Dark mode in 3.16.X server versions

**To Reproduce**
Steps to reproduce the behavior:
1. Click on **Create new** icon
3. Select Direct Messages
4. See not very good looking modal window

**Expected behavior**
Proper colors for create DM modal

**Screenshots**
![image](https://user-images.githubusercontent.com/4023037/126271365-90351c

[2021-07-20 07:46] ankar84 commented on #150
I guess button will hard to fix because of using `rcx-box rcx-box--full rcx-box--animated rcx-button rcx-button-group__item` that is used all over Rocket Chat elements.

But here is a fix for that search panel results

[code]

[2021-07-20 08:12] ankar84 commented on #150
Partly fixed in https://github.com/pbaity/rocketchat-dark-mode/pull/151

[2021-07-20 11:00] tammer123 commented on #149
![image](https://user-images.githubusercontent.com/12547142/126313174-48b3bce1-f5c7-419a-b805-0ba8deee0064.png)

[2021-07-20 11:54] pbaity commented on #149
@tammer123 Sorry I haven't answered yet, but I haven't had this issue. I have no idea why the script is getting truncated in your instance. Try copying over the most recent [dark-mode-toggle.js](https://github.com/pbaity/rocketchat-dark-mode/blob/master/dark-mode-toggle.js) (the one in the screenshot above is outdated), but it looks like the code getting truncated isn't related to dark mode, so I

[2021-07-22 11:51] #149 closed

[2021-07-26 06:10] ankar84 commented on #143
That https://github.com/RocketChat/Rocket.Chat/pull/22752 could lead to fix

[2021-07-26 12:39] #150 closed

[2021-07-30 19:30] adipose opened #152 "notification for new version not working on dark theme"
When a new version of rocketchat comes out, a notification may pop up for administrators at the top of the window.  On the far right, an "X" appears to dismiss this notification.  Only, it doesn't show up in the dark theme, so you have to switch to light theme to dismiss it.  I'll send a screenshot next time it pops up.

[2021-08-24 15:59] beloniki opened #153 "Admin page pagination color"
Hi there.

I'm glad to use this one. One little bug, that I've found is on the administration panel: the selected page numbers are not readable in a dark mode.

My solution is to add a rule for this class into css text:

[code]

Be well! :)

[2021-09-08 17:58] adipose commented on #152
Here's an example of the problem:

![image](https://user-images.githubusercontent.com/3324395/132560398-92b9d322-eff1-4e10-b0d4-cf79e8290db9.png)

In white mode:

![image](https://user-images.githubusercontent.com/3324395/132560523-2d3cd813-14b8-4653-b2f6-e49bc32dcd8f.png)

[2021-10-26 13:34] CaseySchmidt opened #155 "<blank> is typing unreadable"
**Describe the bug**
While in dark mode, when a user is typing in a channel the username color does not have enough contrast to be readable.

**To Reproduce**
Steps to reproduce the behavior:
Have a user type in a channel while you are watching

**Expected behavior**
The username of the person typing should be readable.

**Screenshots**
![image](https://user-images.githubusercontent.com/93130835/1

[2021-10-29 07:40] PBlips opened #156 "not save the change DB"
Hi,
I have a problem. I am working with docker and when importing the database to a new container it does not save the dark mode configuration and I have to configure it again manually. Would someone know how to explain why that change is not saved?

Thanks !.

[2021-11-04 14:55] hammondr opened #157 "Support for Rocket.Chat 3.18.2?"
We upgraded to RC 3.18.2 last night and pasted the custom CSS and JS but it doesn't seem to have any effect.

Should this be working on 3.18.2?  Does anyone know what changes would be required to support 3.18.2?

[2021-11-08 15:27] pbaity commented on #157
@hammondr I haven't upgraded yet (still at 3.18.1) but yes, it's intended to work. I'll see about testing it out soon to see if I can find the issue (new releases often give us a little trouble here) but in the meantime, can you tell me what you're seeing exactly? Does the dark mode button not appear?

[2021-11-08 15:30] pbaity commented on #156
Hi @PBlips , welcome! Congrats on your first issue. I haven't used the Docker setup before so I've got some reading to do to be able to help. Do you mean that when you import the database to a new container, the dark mode custom code is not retained and needs to be copied in again? Or just that your current mode (dark or light) is not retained? Feel free to share some screenshots too.

[2021-11-08 15:39] hammondr commented on #157
Correct, the dark mode button does not appear.

[2021-11-08 15:45] pbaity commented on #155
Hi @CaseySchmidt , welcome and congrats on your first issue! I've tried replicating the issue in web and desktop (I'm on 3.18.1, the almost-newest version), but it's clear for me:

![image](https://user-images.githubusercontent.com/39106297/140771677-01bfaaec-2067-467f-9ed6-9517c6d550ab.png)

If you want to check, take a peek with dev tools at the `rc-message-box__typing` div and `rc-message-box__

[2021-11-08 15:49] pbaity commented on #143
Seems to be resolved as of 3.18.1

[2021-11-08 15:49] #143 closed

[2021-11-08 15:52] pbaity commented on #153
Hi @beloniki , so sorry for the long delay! I added this code but didn't notice a difference, can you share a screenshot? (if this is still relevant; maybe the issue was otherwise fixed since you opened this)

[2021-11-08 17:06] CaseySchmidt commented on #155
@pbaity thanks!

So we are on 4.0 and recently just upgraded to 4.1.1 and the issue still persists.  As a point of reference the code seems to have changed from rc-message-box__typing to rc-message-box__activity which may be the source of the problem.

![image](https://user-images.githubusercontent.com/93130835/140786297-1e5ca3d7-4409-4885-82ca-57cbbc5249f3.png)

[2021-11-09 00:49] pbaity commented on #155
@CaseySchmidt So far we've just been using [two CSS variables](https://github.com/pbaity/rocketchat-dark-mode/blob/master/dark-mode.css#L148-L149) (`--message-box-user-typing-color` and `--message-box-user-typing-user-color`) that those elements already use for their color - can you check what variable is used (if a variable is used) to set the color for those elements? I wonder if the names of th

[2021-11-09 13:00] CaseySchmidt commented on #155
@pbaity Here are my current variables:

--message-box-user-typing-color: var(--color-gray-lightest);
--message-box-user-typing-user-color: var(--color-gray-lightest);

So I have never used the developer tools before but I think I fouind the issue.  They did rename the variables.  When I add the following in to the file the colors work:

    --message-box-user-activity-user-color: var(--color-red-l

[2021-11-11 19:05] jrgong420 opened #158 "Issue: Dark Mode not applied in embedded mode"
Hey guys

When the chat is opened via URL with the parameter `?layout=embedded`, the dark mode is not applied. We successfully reproduced the issue on Chrome on MacOS as well as on Android.

Is there any way to enable Dark Mode in embedded layout?

[2021-11-11 19:07] jrgong420 commented on #94
Digging out this one: We are using embedded view in our discourse forum and we disabled the menu bar. A dark/light toggle in the channel settings or maybe even via URL parameter would be great.

[2021-11-12 10:29] PBlips commented on #156
Well, when importing the database I have to put the codes again.
I hope it can be fixed in case you need to make a backup and thus avoid looking for the corresponding codes again.
Thank you.

[2021-11-17 16:25] AlexVonB commented on #155
Hey!
I can confirm the change for v4.1.2, the used variables are, by default,

[code]

When manually changing `typing` to `activity` in the dev tools, it works again.

Best! Alex

[2021-11-17 17:33] #155 closed

[2021-11-17 17:59] pbaity commented on #152
Closed by #154

[2021-11-17 17:59] #152 closed

[2021-11-18 10:55] scornet256 commented on #157
It does work here as expected on version 3.18.3 (snap).

[2021-11-22 20:53] hammondr commented on #157
Yes, I am still not able to get this to work in 3.18.2.  It has worked for us in earlier RC versions.  I just tried again by removing all of the content from the Layout > Custom CSS and Layout > Custom Scripts > Custom Script for Logged In Users sections and replaced them with the content from the 3.18.3 branch here.

I use the rocketchat MacOS app but the web-based app has the same behavior.  The

[2021-11-22 21:07] hammondr commented on #157
If I remove the custom JS, I can see that the scripts.js file should end like this:
[code]
So my file is being truncated when the dark mode custom JS is in there.

[2021-11-22 21:34] hammondr commented on #157
If I remove the non-english internationalization strings from https://github.com/pbaity/rocketchat-dark-mode/blob/3.18.3/dark-mode-toggle.js#L27-L37, then my scripts.js doesn't get truncated and the dark mode button appears (and works).

[2021-11-22 21:47] pbaity commented on #157
Ah, this has [been reported before](https://github.com/pbaity/rocketchat-dark-mode/issues/149) (I thought this sounded familiar!), and interestingly the script seemed to get truncated at the same spot. I have no idea why this happens, but it seems to be a Rocket.Chat bug unrelated to the dark mode script. It seems like shortening the script solves the problem, so yes, you can remove unneeded code

[2021-12-20 23:39] ae5960e8-a6fc-491f-b252-898ecf59af95 commented on #144
I'm having this issue also.

[2021-12-20 23:43] ae5960e8-a6fc-491f-b252-898ecf59af95 commented on #27
Mr Engel, do you have a progress update on this matter for us? Thank you.

[2021-12-30 13:12] ae5960e8-a6fc-491f-b252-898ecf59af95 opened #161 "Rocket.Chat 4.3.0"
Rocket.Chat 4.3.0 is out, some elements of the script need to be updated to accommodate the new changes.
- Message options menu (three dots) text is unreadable on hover
- Account menu (clicking account icon)
- Message Info "OK" button
- Video Conference “Cancel” button
- 2FA backup code box after enabling 2FA
- Likely more I have missed.

[2022-01-06 17:52] TBG-FR commented on #161
I started working on 4.3.0 modifications to update the dark mode, here are some elements :

- Message options menu -> fixed
- Account menu -> unable to see the issue, can you provide a screenshot ?
- Message info OK button -> same as above
- Video Conference "Cancel" button -> RC issue, this button is missing `rcx-button--ghost` class (**should we open a PR ?**)
- 2FA -> not tester yet
- I found s

[2022-01-07 10:48] TBG-FR commented on #144
Should be fixed in #162 ;)

I don't understand why some modal cancel buttons have `.rcx-button--ghost` and some other don't... If they all had it, this issue wouldn't be existing ! (maybe we should report that to RocketChat team/repo, it looks like a consistency issue)

[2022-01-07 19:18] ae5960e8-a6fc-491f-b252-898ecf59af95 commented on #161
Account menu:
<img width="198" alt="1" src="https://user-images.githubusercontent.com/76442625/148595556-67dbc32e-4c71-4437-b7ab-e49dee95ef97.PNG">

Message info OK button:
![2](https://user-images.githubusercontent.com/76442625/148595571-0033cd86-c927-4553-8544-ab85e26e9e88.PNG)

[2022-01-10 18:12] #94 closed

[2022-01-10 18:14] pbaity commented on #158
This has been added in #163 by @TBG-FR.  For this to work, enable the top navbar in the embedded layout by going to "Administration -> Layout -> Interface -> Show top navbar in embedded layout". You'll now get the dark mode button in the top navbar.

[2022-01-10 18:14] #158 closed

[2022-01-10 18:14] pbaity commented on #94
This has been added in #163 by @TBG-FR.  For this to work, enable the top navbar in the embedded layout by going to "Administration -> Layout -> Interface -> Show top navbar in embedded layout". You'll now get the dark mode button in the top navbar.

[2022-01-10 18:15] pbaity commented on #161
These issues were fixed in #162 . If you find any other specific problems, feel free to open new issues for those.

[2022-01-10 18:15] #161 closed

[2022-01-10 18:17] pbaity commented on #157
Closing since this seems to be a Rocket.Chat bug unrelated to our dark mode script.

[2022-01-10 18:17] #157 closed

[2022-01-10 18:18] pbaity commented on #144
Fixed in #162

[2022-01-10 18:18] #144 closed

[2022-01-10 18:45] ae5960e8-a6fc-491f-b252-898ecf59af95 opened #165 "Account name in status menu unreadable"
Previously, I had suggested changing the background of this element from white to dark, to match the dark theme, however this has resulted in the user's account name in the status menu becoming unreadable.
![sss](https://user-images.githubusercontent.com/76442625/148821204-fea4c65f-a4c1-41ed-8a6d-ccf9207537d9.PNG)

Secondly, I'm now of the opinion that white was more readable and appropriate than

[2022-01-10 19:44] TBG-FR commented on #165
My bad, I didn't see this one !

I also tried a dark "lighter" color, thinking it was better, but I changed my mind because in normal/light mode, Rocket Chat uses one color for the sidebar, and one color for the main chat panel **and** menus

I'll show you some screenshots so everyone can decide which one is better

[2022-01-10 19:54] TBG-FR commented on #165
Here's RocketChat original colors

![RC_Menu_Original](https://user-images.githubusercontent.com/18146038/148830172-51ad3efc-d3ae-40db-8dd7-494331746bb8.png)

And here's what I did in #162

![RC_Menu_Dark](https://user-images.githubusercontent.com/18146038/148830254-989e02d9-803f-49d5-9526-a1b570fc3bb5.png)

[2022-01-10 19:54] TBG-FR commented on #165
One option could be to use `--color-dark-medium`

![RC_Menu_DarkMedium](https://user-images.githubusercontent.com/18146038/148830302-91eac913-40ad-46e7-ac25-242670e34031.png)

[2022-01-10 19:54] TBG-FR commented on #165
Another option would be to use `--color-darkest`

![RC_Menu_Darkest](https://user-images.githubusercontent.com/18146038/148830341-82169aec-2184-4df7-9781-85aa6863a4d1.png)

[2022-01-10 19:57] TBG-FR commented on #161
@ae5960e8-a6fc-491f-b252-898ecf59af95 Can you check if "Message info OK button" is fixed ? If not, where should I go to display that popup/modal ?

[2022-01-13 16:57] #165 closed

[2022-01-13 16:58] #153 closed

[2022-01-13 17:09] pbaity commented on #156
@PBlips Sorry for the long delay getting back to this issue. After some investigation I've determined this must be a Rocket.Chat issue and not something caused by the dark mode code. I didn't immediately find this reported among their issues, but you can open a new one in their repo [here](https://github.com/RocketChat/Rocket.Chat/issues). Thanks.

[2022-01-13 17:09] #156 closed

[2022-01-13 17:24] pbaity commented on #135
@sennewood Is this issue still occurring for you?

[2022-01-18 07:14] ankar84 opened #168 "Names in chats Member List are invisible (usernames are OK)"
**Describe the bug**
Names in chats Member List are invisible (usernames are OK)
When mouse is over user - then Name is visible

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any group chat Member List
2. Names are invisible

**Expected behavior**
Names visible like usernames

**Screenshots**
Names invisible
![image](https://user-images.githubusercontent.com/4023037/149888354-9b36ec31

[2022-01-18 14:11] #168 closed

[2022-02-10 15:48] pbaity commented on #135
Closing as stale

[2022-02-10 15:48] #135 closed

[2022-02-16 09:24] chlab commented on #27
@engelgabriel is this now available?

[2022-02-20 15:49] 3li0 opened #170 "Does not seem to work on 4.4.2"
**Describe the bug**
Does not seem to work on latest version of RC 4.4.2

**To Reproduce**
Install scripts as instructed in layout "custom css" and "logged in users" custom script.

**Expected behavior**
Dark Mode Added to UI, however dark mode is not evident after saving changes via admin interface.

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS: Agnostic - d

[2022-02-20 17:58] ae5960e8-a6fc-491f-b252-898ecf59af95 commented on #170
It works with mine on the latest version, 4.4.2.

[2022-02-20 21:13] saschafoerster commented on #170
Maybe you added the script in the wrong field? "Custom Script for Logged In Users", I did that one wrong in the beginning.

[2022-02-22 21:34] pbaity commented on #170
@3li0 just to confirm, you did toggle dark mode on with the toggle switch here, correct?

![image](https://user-images.githubusercontent.com/39106297/155223342-171c972b-e53e-4006-91fe-9ef1cb0f76d3.png)

If so, please share some screenshots of what you mean. I'm on 4.4.2 and haven't found any major problems so far.

[2022-02-28 02:17] ae5960e8-a6fc-491f-b252-898ecf59af95 opened #172 "Message info box contains unreadable text"
**Describe the bug**
Some of the text in the screenshot is unreadable.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Read by/Info menu of any message.
2. Hover cursor over any user read event.

Screenshot:
<img width="452" alt="Untitled-min" src="https://user-images.githubusercontent.com/76442625/155912995-59aceaa5-da0c-4acf-ba48-0084948a2863.png">

Thank you.

[2022-02-28 02:17] ae5960e8-a6fc-491f-b252-898ecf59af95 opened #173 "Room members list contains unreadable elements"
**Describe the bug**
Some of the text and a button in the screenshot is unreadable.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Member list within any room.
2. Hover cursor over any room member account.

Screenshot:
<img width="271" alt="Untitledd-min" src="https://user-images.githubusercontent.com/76442625/155913016-c06d6587-4e11-4a0d-aaa7-f913b5056447.png">

Thank you.

[2022-02-28 18:21] pbaity commented on #173
Fixed by #171

[2022-02-28 18:21] #173 closed

[2022-02-28 18:22] pbaity commented on #172
Should be fixed by #171 but for some reason I personally don't have a message info or "read by" option in my instance...? Not sure why but I trust @TBG-FR 's fix. If you find it's not fixed for you, please reopen.

[2022-02-28 18:22] #172 closed

[2022-02-28 18:23] pbaity commented on #170
@3li0 So far it seems like this is working for others on 4.4.2 (and we're fixing any small misc issues), so I'm closing this. But if you find it's still not working reach out to me via this issue and I can help you troubleshoot, just include some screenshots.

[2022-02-28 18:23] #170 closed

[2022-02-28 20:51] TBG-FR commented on #172
Yeah that feature is disabled by default, I had to go into settings (Admin > Message) and enable it to test it 😉

[2022-02-28 21:30] pbaity commented on #172
Ah, now I've confirmed it myself too! Thanks @TBG-FR .

[2022-03-08 08:13] RAurelian opened #174 "Room Information - Prune warning text not visible in Dark Mode"
Hello,

When in Dark Mode, the Prune warning text on the Room Information page on any channel is not visible due to the color of the background and the text being similarly light.

Steps to reproduce the behavior:
1. Open a channel / room (you need to have pruning enabled)
2. Click on Room Information
3. Scroll down to the end of the page
4. Observe the prune warning text which is of a light color

[2022-03-24 02:09] Austinsuyoyo commented on #174
Set background-color like below
[code]

example:
![image](https://user-images.githubusercontent.com/15572804/159827805-ff585e73-9bf8-4931-9a66-bca3dbdb203c.png)

[2022-03-24 12:36] pbaity commented on #174
Sorry I haven't responded so far - I was able to take a quick peek at this issue. We can fix it by resetting the color variable it uses:
[code]
Here I used `--rc-color-alert` which makes it a nice red, but I'm open to a different color (light mode uses that hard-coded yellowish color; it seems that `--rcx-color-warning-200` is not specified in light mode). However the text is still grey, and unfor

[2022-04-06 06:01] FrankDaze opened #175 "Not working anymore for RC V4.6"
**Describe the bug**
It seems, that the darkmode is not working anymore in Rocket.Chat V4.6
The button is not appearing.

[2022-04-06 06:09] FrankDaze commented on #175
My fault. I copied the javascript into the wrong input field. It's working fine.

[2022-04-06 06:09] #175 closed

[2022-04-18 04:53] ae5960e8-a6fc-491f-b252-898ecf59af95 commented on #139
I'm in no rush for new colours, but this looks very nice. Looking forward to it.

[2022-04-18 04:56] ae5960e8-a6fc-491f-b252-898ecf59af95 opened #177 "Wrong colour of "You have joined a new direct message with" text"
**Describe the bug**
The text “You have joined a new direct message with” when starting a new DM is difficult to read because of the colour of the text.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new DM or scroll to the beginning of an active DM.
2. The issue should be clear.

**Expected behavior**
The text is a more readable, lighter colour.

[2022-04-19 08:22] y377 commented on #33
Yeah, I've been waiting for you to assign me something to translate

[2022-04-20 18:13] bkraul opened #178 "Support for 4.7.0"
**Is your feature request related to a problem? Please describe.**
With the release of 4.7.0 develop, an incompatibility with the theme/mode seems to exist. This is the current look of the applied dark theme:

![image](https://user-images.githubusercontent.com/14616851/164295656-f446e10b-e100-49b9-9f0e-03b431121b97.png)

**Describe the solution you'd like**
Better support for 4.7.0

**Describe alt

[2022-04-22 17:55] acoolstraw opened #179 "Quotes have white border around them"
**Describe the bug**
Quotes have a white border around them

**To Reproduce**
Steps to reproduce the behavior:
1. Quote someone's message

**Expected behavior**
No white border around it

**Screenshots**
![image](https://user-images.githubusercontent.com/45886986/164768602-41315a90-71c8-4a7a-b916-fea0aa312742.png)

**Desktop (please complete the following information):**
 - OS: Arch Linux
 - Brows

[2022-05-09 23:33] ae5960e8-a6fc-491f-b252-898ecf59af95 commented on #174
Waiting for this to be implemented, looking great. :)

[2022-06-15 05:29] ankar84 opened #180 "Thread list broken in 4.8.1"
**Describe the bug**
Thread list is white in dark mode in 4.8.1 (could be broken earlier)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to chat with threads
2. Open Thread list

**Expected behavior**
Thread list is dark in dark mode

**Screenshots**
![image](https://user-images.githubusercontent.com/4023037/173745760-7af4e8b5-34a9-4f4a-b45d-339705989ade.png)

**Desktop (please complete

[2022-06-15 05:33] ankar84 opened #181 "Admin settings broken in 4.8.1"
**Describe the bug**
Admin settings panels broken in 4.8.1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Administration - Settings
2. Check panels

**Expected behavior**
All dark in dark mode

**Screenshots**
![image](https://user-images.githubusercontent.com/4023037/173746977-7bf661a0-5335-4340-8612-e46e18a0102f.png)

[2022-06-16 12:35] TBG-FR commented on #177
You're right, the CSS selector has been modified, I'm working on a 4.8.1 version, it'll fix that

[2022-06-16 12:38] TBG-FR commented on #178
Do you still experience this ? I couldn't reproduce it

[2022-06-16 12:41] TBG-FR commented on #179
I will check and try to remove it, but if I remember correctly I already tried months ago and this was the best result I could get

[2022-06-16 12:55] bkraul commented on #178
With later versions 4.7.x+ it seems it displays better, but there are still issues, especially with the Administration UI:

![image](https://user-images.githubusercontent.com/14616851/174074332-81a79455-6ad3-4cdf-a08d-5b7b769cf5d8.png)

[2022-06-16 13:42] TBG-FR commented on #179
Alright, I think I got it ! (PR is on its way 🤙 )

- Quote (regular) in dark-mode
![image](https://user-images.githubusercontent.com/18146038/174082940-3f0dc148-48c7-4306-a0b6-38b19a96b66a.png)

- Quote (focus/hover) in dark-mode
![image](https://user-images.githubusercontent.com/18146038/174083026-c56ddca3-f1a0-4d87-987e-92f21401fafa.png)

[2022-06-16 14:18] TBG-FR commented on #174
I'm working on some modifications, but I can't get that message you're showing in your screenshot, what do you need to do to enable it ?

I've managed to display another one (in room settings)
![image](https://user-images.githubusercontent.com/18146038/174090424-797c91db-4806-4ddf-9607-2a5120643a9c.png)

[2022-06-16 15:10] TBG-FR commented on #180
Fix incoming 😄

![image](https://user-images.githubusercontent.com/18146038/174101759-ef7824a7-0c07-4c0f-8cd3-7e3f5cb85c42.png)

[2022-06-16 15:54] ankar84 commented on #180
Wow! Excellent job!!!

[2022-06-17 13:13] #181 closed

[2022-06-17 13:32] pbaity commented on #174
@TBG-FR I think you have to turn this on in the settings under "Retention Policy," but I'm not 100% sure because I'm scared to turn it on and accidentally wipe out my message history 😅 but in the few places I've found those boxes, they've all had the same CSS classes (`.rcx-callout--type-warning` and `.rcx-callout`, though sometimes it's one a div directly and sometimes on a different parent eleme

[2022-06-17 13:36] TBG-FR commented on #174
I always use a dummy RocketChat instance with Docker to try things like the dark theme ! But I already tried all "Retention Policy" options, non of them displayed that specific element 😞

Let's hope that !

[2022-06-17 16:13] pbaity commented on #177
Fixed by #185. If anybody sees the issue reoccur just reopen this issue!

[2022-06-17 16:13] #177 closed

[2022-06-17 16:13] #174 closed

[2022-06-17 16:14] pbaity commented on #178
@bkraul I just saw that I originally intended to fix this in early May - so sorry I didn't. That weekend ended up being an ER trip when one of my kids got sick 😅 Thanks to @TBG-FR for picking it up though.

Fixed by #185. If anybody sees the issue reoccur just reopen this issue!

[2022-06-17 16:14] #178 closed

[2022-06-17 16:14] pbaity commented on #179
Fixed by #185. If anybody sees the issue reoccur just reopen this issue!

[2022-06-17 16:14] #179 closed

[2022-06-17 16:15] pbaity commented on #180
Fixed by #185. If anybody sees the issue reoccur just reopen this issue!

[2022-06-17 16:15] #180 closed

[2022-06-27 10:37] JonnyBDev opened #187 "Darkmode not working"
**Describe the bug**
Hey. I've just "installed" the darkmode as listed in the READ.ME. Copied the content of both files to their target location. Unfortunately there is no icon to toggle the mode. Restart (of the server container), reloading (CMD+F5), disable cache generally and different browsers did not solve the issue for me.

**To Reproduce**
Steps to reproduce the behavior:
1. "Install" the d

[2022-06-27 10:52] JonnyBDev commented on #187
Nvm. Didn't setup the service so I forgot to check the version. Thought it was the latest - it wasn't.
Anyway a suggestion for the READ.ME. I was stupid and just copy pasted it without looking at the input fields at all. Copied the .js to the first input field. That was the error because it's for the logout flow. I should've pasted it in the 3rd field (for logged in users). Probably something you

[2022-06-27 10:52] #187 closed

[2022-06-28 12:59] pbaity commented on #187
Clarified in https://github.com/pbaity/rocketchat-dark-mode/commit/f262b76351e5731a2fa7487f44e14ce58ae532f6 for you!

[2022-07-24 02:18] D34DC3N73R opened #189 "Dark Mode not working right in RC5.0"
**Describe the bug**
class names appear to have changed in RC 5.0

**To Reproduce**
Steps to reproduce the behavior:
1. Apply dark mode CSS in RC 5.0
2. Observe

**Expected behavior**
Dark mode works in RC 5.0

**Screenshots**
![image](https://user-images.githubusercontent.com/9123670/180629433-2f91dcda-30a0-4bf8-b48f-27d7c836ca86.png)

**Desktop (please complete the following information):**
 - O

[2022-07-25 09:47] ankar84 commented on #189
@TBG-FR Hello! We need your help here!

[2022-07-25 12:03] lpla commented on #189
MRW I opened Rocket Chat this morning:

![eyes](https://media.giphy.com/media/oS4bJ2sRXKVDa/giphy.gif)

[2022-07-25 12:36] TBG-FR commented on #189
Will be working on that today or tomorrow 😉 Don't hesitate to check all (sub)menus and items to report them all !

[2022-07-26 10:22] avpnusr commented on #189
Seems like nearly all things are normal - at least for my installation.

Only the messages in the chat-windows have a white background color and get (the right) grey color, while hovering over it.

Don't know if this helps, but in Dev-Tools I get this while selecting the element...

![image](https://user-images.githubusercontent.com/43516996/180983813-c9fd6384-2476-483e-b781-2474918812f5.png)

[2022-07-26 10:39] ankar84 commented on #189
Discussion list in chat
![image](https://user-images.githubusercontent.com/4023037/180986106-8b5bd15d-a0a3-4222-934a-93e56e2ce1d5.png)
Call modal
![image](https://user-images.githubusercontent.com/4023037/180986173-ab9b8c3b-fcb6-4ba8-9605-405f58d53c35.png)
Admin UI - Info (Low contrast)
![image](https://user-images.githubusercontent.com/4023037/180986512-8970eed3-f099-47e4-a352-d9d5839e3013.png)
A

[2022-07-26 20:48] pbaity commented on #189
Not all heroes wear capes. @TBG-FR is the awesome!

[2022-07-28 09:40] TBG-FR commented on #189
Eveything you reported @ankar84 should be fixed now, including Call modal

@here if you guys could try my modifications and report any missing things, that would be great ! 💪

Thanks for all the kind words 🙇

[2022-07-28 09:49] ankar84 commented on #189
You are fantastic, man!!!!

Already checking!

[2022-08-01 15:18] pbaity commented on #189
This should be closed by #190 . Thanks so much to @TBG-FR 's amazing work there!

If anyone finds additional issues, please open a new issue with the details.

[2022-08-01 15:18] #189 closed

[2022-09-03 17:06] paulchen opened #191 "Design of home page and settings broken in Rocket.Chat 5.1.0"
Rocket.Chat 5.1.0 introduced major changes to several pages, e.g. the start page or the settings page (Administration -> Settings). The layout of these pages now uses some kind of cards which currently do not look properly in Dark mode:

Start page:

![image](https://user-images.githubusercontent.com/404840/188280739-7155d496-0173-4153-8e9f-b71b6c1389b5.png)

Settings page:

![image](https://user-

[2022-09-03 19:36] chotaire commented on #191
That doesn't look so good and it breaks light mode. Try this:

[code]

![dark main menu](https://user-images.githubusercontent.com/9246549/188285434-f2900c42-189c-4128-9b8a-df97ba474643.png)

[2022-09-04 14:48] paulchen commented on #191
@chotaire Thanks for your input. I agree with you, that looks a lot better:

![image](https://user-images.githubusercontent.com/404840/188319513-f9704948-caad-4cd1-9558-355050962b55.png)

[2022-09-07 09:15] ae5960e8-a6fc-491f-b252-898ecf59af95 commented on #191
Looks good, but the 'open' button content should possibly be a little brighter to match:
https://user-images.githubusercontent.com/9246549/188285434-f2900c42-189c-4128-9b8a-df97ba474643.png

Probably OK for a pull request ASAP because the current version is unusable.

[2022-09-07 11:08] chotaire commented on #191
That is fixed on my screenshot too. I privately forked this project almost two years ago and improved some dozens of things. As an example, I incorporated a redesign more than a year ago that is similar to the one you guys are planning according to the official Rocket.Chat color template recommendation, along with many other design "fixes" so that this dark theme simply looks a little better. Beca

[2022-09-07 11:13] ae5960e8-a6fc-491f-b252-898ecf59af95 commented on #191
Thanks, and looking forward to your version coming out. :)

[2022-09-07 11:21] chotaire commented on #191
Pull request created at https://github.com/pbaity/rocketchat-dark-mode/pull/192

[2022-09-07 11:45] chotaire commented on #139
I did that a year ago or so. I will see if I can find some time to rebase and merge, then send pull requests. I wish the day had 100 hours.

[2022-09-07 11:48] chotaire opened #193 "Apps page on 5.1.0 is largely ignored by dark mode"
**Describe the bug**
In Rocket.Chat Version 5.1.0, the Apps page has been reworked and is mostly ignored by rocketchat-dark-mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Update to Version 5.1.0
2. Go to Administration -> Apps

**Expected behavior**
Dark mode be dark.

**Screenshots**

![944a49bfffab41227fed6e07bb9d0131](https://user-images.githubusercontent.com/9246549/188871040-e108

[2022-09-07 13:18] chotaire commented on #193
Feel free to go from here. I fixed the dropdowns and app info pages too.

![1d74c8bd72830355c41890d9a73b9c7f](https://user-images.githubusercontent.com/9246549/188888061-e66dafec-cc90-4398-81d5-077fb5e0e6d8.png)

What a mess:

[code]

[2022-09-07 13:34] chotaire commented on #191
See https://github.com/pbaity/rocketchat-dark-mode/issues/193 for a fix for the Apps page in 5.1.0.

[2022-09-19 17:08] pbaity commented on #193
Thanks for fixing this in #194 @chotaire ! Great work.

[2022-09-19 17:08] #193 closed

[2022-09-19 17:17] pbaity commented on #191
Thanks to @chotaire for fixing this in #192. And if you do have improvements you want to share, just open a PR! I'm also very short on time (but without complaint, since it's due to my wonderful family!) but I always make time to read every issue and comment, and do my best to merge any PR that helps the community.

[2022-09-19 17:17] #191 closed

[2022-10-14 19:11] paulchen opened #195 "Quotes ugly in 5.2.0"
**Describe the bug**
In Rocket.Chat 5.2.0, some CSS classes changed its identifier making quotes ugly.

**To Reproduce**
Steps to reproduce the behavior:
1. Quote a message.

**Expected behavior**
Quotes are beautiful as expected:

![beautiful](https://user-images.githubusercontent.com/404840/195922882-e77ca6ff-4b92-43eb-9b3e-aeb560a2ecdf.jpg)

**Screenshots**
Unfortunately, quotes are ugly:

![ug

[2022-10-14 22:02] paulchen opened #197 "Apps page broken again in 5.2.0"
**Describe the bug**
After updating to Rocket.Chat 5.2.0, the problem from https://github.com/pbaity/rocketchat-dark-mode/issues/193 is back: The apps page is not dark anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Update to Rocket.Chat 5.2.0.
2. Open the apps page (now labelled "Marketplace").

**Expected behavior**

![apps2](https://user-images.githubusercontent.com/404840/195950

[2022-10-17 08:43] chotaire opened #199 "Rocket.Chat 5.2.0 added new icon, breaking layout when using darkmode with low resolution/scaling"
**Describe the bug**
Rocket.Chat 5.2.0 added a new main icon to the top left corner of the app. On Windows 10/11 computers with HD resolution and small screens (e.g. 13" ultrabooks) where "Scaling" is automatically altered (or where Scaling has been manually altered under Windows Preferences -> Display) this will result in not enough space to display all icons.

**To Reproduce**
Steps to reproduce

[2022-10-17 08:51] chotaire commented on #199
An idea would be to move the dark mode icon into the burger menu on the right.

[2022-10-17 10:25] chotaire opened #200 "Multitude of pages now have unthemed elements in 5.2.0"
Multiple pages now have unthemed elements in Rocket.Chat Version 5.2.0.

**Pages with missing themed elements**
- Administration -> Workspace -> Users
- Administration -> Workspace -> Rooms
- Administration -> Workspace -> Invites
- Administration -> Workspace -> View Logs
- Administration -> Workspace -> Custom Sounds
- Administration -> Workspace -> Email Inboxes
- Administration -> Workspace ->

[2022-10-17 10:54] chotaire commented on #200
@paulchen I am thinking of making this a branch with direct commits for contributors, wanna co-op on this before we wake up @pbaity to merge all of this plus your two pull requests in one go?

[2022-10-17 12:32] chotaire commented on #200
Created pull request: https://github.com/pbaity/rocketchat-dark-mode/pull/201

[2022-10-17 17:22] paulchen commented on #195
I just added a few changes to PR #196 to make blockquotes (which are not quoting any messages) look the same way as quoted messages.

Before:

![quotes1](https://user-images.githubusercontent.com/404840/196242461-581daffa-17fb-4b48-931b-0aa6c73c2833.jpg)

After:

![quotes2](https://user-images.githubusercontent.com/404840/196242482-e15ae448-7c95-4c70-8365-3dc63b71dfb1.jpg)

[2022-10-18 13:55] #195 closed

[2022-10-18 13:57] #197 closed

[2022-10-18 13:58] #200 closed

[2022-10-18 14:05] pbaity commented on #199
Yikes. I'll have to play around with the JS on this one - it should be possible to query the media screen size (with `window.matchMedia("(max-width: 768px)")`, or something like that I think) and decide whether to `$(toggleButton).prependTo(sidebarToolbar)` as we are now, or append it to the menu on the right.

I'm not a JS wizard like some of the contributors here are, so if someone else knows a

[2022-10-19 19:25] TimmiORG opened #203 "Channel Annoucement in dark mode using same colours as in light mode"
The channel announcement in dark mode is using same colours as in light mode. These colours are not fitting the dark mode.

1. Add channel announcement to any channel
2. view channel announcement

I recommend to use different colours for the announcement message

Seen with latest dark-mode.css and Rocket Chat 5.2.0

[2022-10-23 04:58] geekgonecrazy commented on #27
This should be getting even easier to do with coming versions.  Had a conversation with some of frontends.

Example:
[code]
:root {
    --rcx-color-background-light: #525252;
    --rcx-color-background-tint: #656566;
    --rcx-color-stroke-extra-light: #3C3D3D;
    --rcx-color-stroke-light: #5E6061;
    --rcx-color-stroke-extra-light-highlight: #3F474D;
    --rcx-color-stroke-highlight: #0A377A;

[2022-10-24 20:30] bkraul opened #204 "Compatibility with Rocketchat 5.3.0"
**Describe the bug**
It's that time again guys, sorry to bug, but seems very minor changes are needed for 5.3.0:

**Screenshots**
![image](https://user-images.githubusercontent.com/14616851/197622549-535157d0-3c2e-4f29-94b1-1a6e6baf9a21.png)

**Desktop (please complete the following information):**
 - OS: Windows 11
 - Browser: RocketChat Desktop App 3.8.12 /  Firefox
 - Version: 3.8.12 (app), 106

[2022-10-24 20:36] pbaity commented on #204
I think we're all used to it :sweat_smile: so it's not a bother.

It's highly likely someone else will beat me to this, so if they do, I'd just point them to investigate https://github.com/pbaity/rocketchat-dark-mode/issues/27#issuecomment-1288005287 and see how many of these issues can be fixed now only by modifying the RC CSS variables. I genuinely hope we can soon stop updating our CSS rules ea

[2022-11-01 22:35] paulchen commented on #204
Since Rocket.Chat 5.3.0 was released recently, I played around a bit with the CSS variables for the colors.

So far I added these color definitions:

[code]

This fixes many of the obvious problems with 5.3.0. However, I guess additional work will be necessary in order to make everything appear as smooth as possible.

[2022-11-03 16:41] paulchen commented on #204
After trying these changes for one day and adding some additional minor tweaks, I created a pull request: #205. The CSS definitions should still work with earlier versions of Rocket.Chat.

[2022-11-03 16:55] paulchen commented on #203
This is how it looks like now:

![image](https://user-images.githubusercontent.com/404840/199785007-e91e6ef6-8f9f-4c09-bf34-08c94cb5a9c8.png)

At least for Rocket.Chat 5.3.0, the colours easily be changed by setting custom values for the four CSS variables defined here: https://github.com/RocketChat/Rocket.Chat/blob/develop/apps/meteor/app/theme/client/imports/general/variables.css#L64-L67

Howeve

[2022-11-06 09:36] feelan03 commented on #204
Thx. This is rly working for me

[2022-11-07 13:05] #204 closed

[2022-11-07 13:22] bkraul commented on #204
@pbaity thanks for merging! and @paulchen thanks for the quick fix!

[2022-11-15 08:53] chotaire commented on #203
The same colors should be used like for banners:

![d60842e732e54db4a2e246b54cc17445](https://user-images.githubusercontent.com/9246549/201874019-5a4d6417-a0c8-43a5-ad9a-d8aceeb2e459.png)

[code]

[2022-11-15 21:33] paulchen commented on #203
Well, then... https://github.com/pbaity/rocketchat-dark-mode/pull/206

[2022-11-22 15:21] #203 closed

[2022-11-30 10:15] TBG-FR commented on #203
This needs improvement, coloured banners are displayed grey in dark mode, they should use colors (blue for primary, red for danger, etc), with obviously darker colors to fit the whole theme. I'll see what I can do

[2022-11-30 11:10] ankar84 opened #207 "Call in DM problem"
**Describe the bug**
Call modals in DM are not fully correct in Dark mode

**To Reproduce**
Steps to reproduce the behavior:
1. Start call in DM
2. Check incoming call on other side

**Expected behavior**
All call buttons fully supported in Dark Mode

**Screenshots**
cam and mic issue
![image](https://user-images.githubusercontent.com/4023037/204779015-cfa37d09-43dc-4a1c-9231-48553803c22e.png)
dec

[2022-11-30 11:37] ankar84 commented on #207
@TBG-FR @paulchen @chotaire hello!!
I can try to get CSS items name under your instructions and can test your fix on my side.
Thank you, guys for your fantastic work!

[2022-11-30 21:26] TBG-FR commented on #207
You can, on each of the wrongly displayed buttons, right click and then hit "Inspect element", and then right-click on the button HTML block and "edit as HTML" and paste here the content, so we can find which element is missing the dark theme 😉